[2019-09-12 07:56] dborovsky commented on #639
Hi Patryk.
How are you?

Which issues are now in priority?  I have a lot of free time and can help you.

[2019-09-13 13:09] vijaytune opened #640 "Enable SSL option is not considered"
**Describe the bug**
The SSL option available at Store configuration is not considered.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration'
2. Click on 'Stores'
3. Select your store for edit
4. Check 'SSL enabled'
5. Enable one page checkout
6. Visit the cart page (need build already)
7. Click checkout
8. See the redirect to cart page

**Expected behavior**
The following me

[2019-09-13 15:34] vijaytune commented on #640
In addition, the following code is not sending 'true' for some of the environment(IIS-SSLenabled sites).
_httpContextAccessor.HttpContext.Request.IsHttps

[code]

[2019-09-13 17:53] PatrykPorabik commented on #640
Hello Vijay,

In the System -> System Information you will find the status of your SSL configuration. If you made something wrong, you will see something different than:
![image](https://user-images.githubusercontent.com/16773025/64883523-e2fd5080-d65f-11e9-8f43-561d35c20882.png)

Have you configured the proper settings in the appsettings.json file? We've tested it on few environments and we've ne

[2019-09-14 07:26] sunnykachwala commented on #630
Thanks for the fix

[2019-09-14 07:28] vijaytune commented on #640
Thanks.
The system information shows http scheme request as false.
This caused at AWS-EC2 instance-Loadbalance environment.

![image](https://user-images.githubusercontent.com/45359973/64904915-9dd42f80-d6ee-11e9-9c06-6336242057e3.png)

![image](https://user-images.githubusercontent.com/45359973/64904972-2eab0b00-d6ef-11e9-86dc-c3ab91cf5073.png)

I am using AWS EC2 - Windows 2016 - IIS 10.0 - UrlR

[2019-09-16 02:56] dborovsky commented on #345
Can you provide more detail about sub accounts. I can help you. Or tell me which issues is more important now? I mean not onlly bugs. maybe features too.

[2019-09-16 07:00] KrzysztofPajak commented on #640
Hi,
It's hard to say where could be the problem.
We made test SSL with load balancer on DigitalOcean and we implemented successfully.
We can send your request to our support specialist but please contact by https://grandnode.com/contactus
Regards
Krzysztof

[2019-09-16 08:37] vijaytune commented on #640
I don't have any need to get fixed this issue. I caught during my experiment and just notified you.
Hence closing this issue.
Thanks.

[2019-09-16 08:37] #640 closed

[2019-09-16 13:05] KrzysztofPajak commented on #623
1. Allow to store owner to set commission percentage rate for each vendor (admin panel)
2. Every product sold by the vendor has their commission rate applied (saved in orderItem collection, during the placing order - new field)
3. The amount taken as commission can be view in the order details in admin panel (order positions)

[2019-09-16 13:06] KrzysztofPajak commented on #345
Please check this issue: #623

[2019-09-17 11:29] dborovsky commented on #623
@KrzysztofPajak I will do this feature.  have already started.

[2019-09-18 03:33] dborovsky commented on #623
@KrzysztofPajak @PatrykPorabik

For example product costs 15 usd, vendor commission is 10%. Total price will be 15 usd + 10%?
Or price for customer will be staying 15 usd?

[2019-09-18 06:16] KrzysztofPajak commented on #623
@dborovsky
Price for customer will be still 15 usd, we need only add new field, commission for vendor and will be calculated by round(price*vendor_commision)/100),2)

[2019-09-18 08:06] dborovsky commented on #623
Should the field be added here?

![Screenshot_1](https://user-images.githubusercontent.com/3728303/65129624-5d352880-da04-11e9-9430-c0f419e26f5a.png)

[2019-09-18 08:18] KrzysztofPajak commented on #623
Definitely no, Commission should be visible only in admin panel (in the order details)
![image](https://user-images.githubusercontent.com/16772986/65130287-6a9ae480-d9fd-11e9-93f5-4aba3fac6057.png)

[2019-09-19 11:27] #632 closed

[2019-09-20 08:11] #629 closed

[2019-09-25 06:00] #623 closed

[2019-09-25 09:05] dborovsky commented on #621
Hi Patryk. Which issues are more priority now to do?

[2019-09-25 09:18] PatrykPorabik commented on #603
@dborovsky would you like to get something harder to manage? We have one task related with ASP.NET Core 3.0 migration. If you want to get something easier, I will find existing task for you.

[2019-09-25 09:21] dborovsky commented on #603
no i would try something harder

[2019-09-25 09:46] KrzysztofPajak commented on #603
@dborovsky
Here you find simple documentation to moved from asp.net core 2.2 to 3.0:
https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#routing-startup-code
Some of work was done. But it would be greate if we implement new features with routing. So we need to remove old version UseMvc and change to UseEndpoints.

[2019-09-28 19:27] vachich opened #643 "docker-compose up fails at step 5/8"
**Describe the bug**

Running docker-compose up from windows 10 it fails at step 5/8.

**To Reproduce**
run docker-compose up in windows 10

[2019-09-30 10:53] TTomu opened #644 "Wishlist share link not working correctly"
**Describe the bug**
Share link does not showing wishlist of a different user, even if provide valid wishlist sharing link.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to demo.grandnode.com
2. Click on add to wishlist of any of the items
3. Go to wishlist
4. Copy share URL and open it with different browser/private mode.

**Expected behavior**
Ability of showing wishlist to others.

[2019-09-30 13:08] #644 closed

[2019-09-30 14:22] Leonardo-Ferreira opened #645 "Better Communication Channel for contributors"
Hi, I'm a experienced developer that has been working on the field for over 10 years and I would like to contribute to this project.

Right now I'm feeling kinda lost with the project I would like to propose that a slack (free tier) is created so we (the developers who are working on the core of the project, and not on plugins) can chat and hopefully accelerate the time to first contribution of ne

[2019-09-30 14:38] dborovsky commented on #603
@KrzysztofPajak thanks.  Yea, i try to implement new routing.

[2019-09-30 15:33] scharada commented on #578
Hi Patrik.

why don't you merge all reviews in one collection. it woul be easier to manage and to report on and enhance. here is an idea. it will allow us to know who reviewed what and when ... we could enhance it to have calculated fields on every record inserted such as MinRating, AvgRating and MaxRating ... we would nly read the last record for that entity to have a rating summary ...

we could

[2019-09-30 15:44] scharada commented on #601
B2B order need to generate PO with PO number tracking. Invoices need to be issued for POs and payment tracked (partial and full) for a given invoice,
Permissions need to be set to who can issue PO, who can issue invoice, who can alter invoice, who can pay invoice ... these are the basics.
PO and Invoice templates need to be set for each Party using the b2b feature (vendor customer, store owner) ..

[2019-09-30 18:27] Leonardo-Ferreira commented on #401
My 2 cents are: These are all nice features but I think we should implement this with a pooling strategy first. All the cases are perfect examples of in-memory cache (no need to be distributed cache). In my point of view, apart from the chat, none of these need to be "real-time", if any of them are delivered with a 10sec to 5 min delay, no harm would incur...

[2019-10-01 05:32] PatrykPorabik commented on #645
Hi Leonardo,

That's fantastic that you want to join to our community. In the case of community channel. To support our customers, we use community forum on our page - https://grandnode.com/boards
Maybe it will work also for contributors and developers. In the case of tools such as Slack, Gitter, we've created a Gitter channel while ago, but during the times when we haven't got contributors and it

[2019-10-01 12:13] dborovsky commented on #645
Yes. This this good idea. because i would like to continue help with this project and some time i have questions.

[2019-10-01 12:35] dborovsky commented on #645
yes. i think. its will very good idea. because I would continue to help with this project. And it`s will be very good idea to comunicate more deep.

[2019-10-01 14:57] Leonardo-Ferreira commented on #645
I believe slack is excellent tool for the development team to communicate... quick small questions with no future relevance are not a good fit for forums in my opinion. Specially for alignment regarding pull requests and other time-sensitive matters...
Slack could also be a tool for better troubleshooting with customers... I liked it very much when I had to seek technical help with [Minio](https:/

[2019-10-01 17:42] Leonardo-Ferreira commented on #645
OK, so, I create a slack.
Here is the link: https://join.slack.com/t/grandnodeworkspace/shared_invite/enQtNzY3MTcyOTI2NDk4LWU3NGYzZmNhNWY3NjgwMTRkMTg3MzY4MDViY2E3ZGJmMWE0ZDQ0NjFjOGZlNWNmZWVmNDZlYWNhNjM5NmI5ZjA

this is permanent and should be a open link, meaning, click, register and you're on

[2019-10-01 17:49] wwrighter commented on #645
No love for Microsoft Teams. I see how it is.

[2019-10-01 17:52] Leonardo-Ferreira commented on #645
well... I kinda use them both professionally on a daily basis... I must say I prefer slack because of the "Threads" feature and the broader number of apps/integrations... but, it's the team call... if you guys say that we will use ICQ or MSN Messenger, ill follow along

[2019-10-02 01:00] Leonardo-Ferreira opened #646 "How to create a "Installed by default" plugin?"
I'm working on a idea of a plugin to redirect Log messages to Application insights.
I would like to have it installed by default and but not activated.
I just can't find the place where we register the plugins...

Can anyone help?

[2019-10-02 10:49] PatrykPorabik commented on #646
Hi,

Few types of plugins are disabled by default. For example if you install widgets or payment methods, you will get inactivate plugin.

[2019-10-02 15:15] Leonardo-Ferreira commented on #646
Tks for the reply @PatrykPorabik but I don't think I made myself clear.
What I did was:

1. Create a new lib project on the Plugins folder, following the example of other plugins
2. Create a *Registrar file and the implementation of ILogger interface
3. Created the description.txt file accordantly
(technically, the plugin is just this)
4. Inserted it on the InstalledPlugins.txt at Grand.Web projec

[2019-10-02 17:50] Leonardo-Ferreira commented on #645
@wwrighter + @dborovsky pls join us!

[2019-10-03 10:42] huyhuana commented on #646
Did you mean that your Plugin did not show up in the /admin/plugin/list ?
In this case you need to build your Plugin, then , if it create a *.dll in the /Grand.Web/Plugins/ , your Plugin will show up in admin panel.

[2019-10-03 15:40] PatrykPorabik commented on #480
Now TinyMCE supports videos, so it's possible to easily attach them to the product. In 4.60 version it will be possible to create courses/tutorials with videos.

[2019-10-03 15:40] #480 closed

[2019-10-03 15:43] #468 closed

[2019-10-03 15:45] PatrykPorabik commented on #401
You're right. It was just an example coming from our community forum, maybe we will focus on it after 4.60 release. But we can start collecting the ideas for future scope of the feature.

[2019-10-04 07:18] PatrykPorabik commented on #603
@dborovsky Have you tried to do it?

[2019-10-04 08:23] dborovsky commented on #603
@PatrykPorabik  yes,  but were errors and i investigated why.

[2019-10-04 09:34] PatrykPorabik opened #648 "Fix problem with order message template for vendor"
Fix problem with order message template for vendor

[2019-10-04 10:00] PatrykPorabik opened #649 "Fix typo in resource strings upgrade file"
Fix typo in resource strings upgrade file

[2019-10-04 13:37] #643 closed

[2019-10-04 14:56] KrzysztofPajak commented on #648
https://github.com/grandnode/grandnode/commit/f389e3a696a31dafa29f347c6801553000cf5ad0

[2019-10-04 14:56] #648 closed

[2019-10-08 08:03] PatrykPorabik commented on #563
It may work. I've implemented this change for now, but Heroku will have lower priority because it doesn't support .NET Core 3.0

[2019-10-08 08:03] #563 closed

[2019-10-09 07:57] PatrykPorabik opened #651 "Replace jQuery with Vue.js"
As soon as Bootstrap will drop support for jQuery, we will implement the Vue.js instead of jQuery.

[2019-10-10 14:24] gelinski opened #652 "Staff discounts/promotions management"
Allow staff to manage discounts. In Discounts list, staff only can see discounts for their store. When creating new discount, sets automatically the store based in associated staff store. This functionality cannot be restricted to Administrator, once the staff also is a store manager and can create promotions only for its store, but cannot view other stores promotions (competition issue).

[2019-10-14 11:42] #627 closed

[2019-10-14 12:30] PatrykPorabik commented on #652
Hi,
Thanks for suggestion. It will be added in one of the next version of GrandNode.

[2019-10-14 19:39] grantfar commented on #553
I will take this

[2019-10-15 05:34] PatrykPorabik commented on #553
Sure! Great! I've assigned you to this task.

[2019-10-16 03:10] jezmaghuyop commented on #399
Hi, I would to take this one, if that's okay?

[2019-10-16 07:43] jezmaghuyop commented on #462
Hi, I would to take this one, if that's okay?

[2019-10-16 07:47] scharada opened #655 "Add API Versioning + SwaggerUI. SwaggerDoc to APIs"
it would be good to have API versioning with swagger UI and Doc

[2019-10-16 07:51] PatrykPorabik commented on #462
Sure, take your time

[2019-10-16 07:53] scharada opened #656 "improve Order shipment UI Flow."
when adding a shipping to an order. the ui does not go back to the order being processed. it takes you to the shipping screen. this is frustrating if someone wants to keep working on the order ...

**Describe the solution you'd like**
what would be good is a popup to add a shipment to the order and when done, it's closed and you are back yo the order screen.
editing the shipment to set it's status

[2019-10-16 08:25] PatrykPorabik commented on #472
As much as possible :)

[2019-10-16 08:53] Mac2m commented on #620
I can take that one.

[2019-10-16 08:57] PatrykPorabik commented on #620
Sure, fantastic, if you have questions, feel free to ask :)

[2019-10-16 08:58] PatrykPorabik commented on #655
Unfortunately, OData has problems with Swagger. So we don't have plans to add it.

[2019-10-16 08:58] #655 closed

[2019-10-16 09:00] PatrykPorabik commented on #462
If you have questions, feel free to ask us before sending PR, maybe we will be able to help you.

[2019-10-16 10:21] Mac2m commented on #620
Got one question - does notes can be seen only for admins or it should be listed with shipments list for customers?

[2019-10-16 10:25] PatrykPorabik commented on #620
If I were you, I would create it in the same way as order notes. So, with the checkbox "Display to customer".

[2019-10-16 10:28] PatrykPorabik commented on #656
Actually, it's made by design. In current situation, after saving, you are able to press the order # and get back to the order details. Maybe we will redesign it in the future.

[2019-10-16 21:11] Mac2m commented on #620
Where it should be displayed to customer ? On order details page ?

[2019-10-17 06:45] PatrykPorabik commented on #620
Yes, I think it would be the best place.

[2019-10-17 18:49] scharada commented on #655
Hi @PatrykPorabik . thanks for the reply.
i have been following the new OData package and it's still not compatible with net core 3.
but i had a need to add versioning so i created a web api project using swagger using the same structure as the Grand.Api project. however i encoutered the following problem and was hoping you could point me to the right place to look at resolving it.

the problem i

[2019-10-18 05:56] PatrykPorabik commented on #553
@grantfar you should add a textbox, something similar to this one:
![image](https://user-images.githubusercontent.com/16773025/67069261-cbdce180-f17c-11e9-9e50-a9a978146324.png)

[2019-10-18 12:21] WandileShezi commented on #582
@TTomu Can I take this?

[2019-10-18 13:20] PatrykPorabik commented on #582
@WandileShezi , sure. Take your time. If you have any questions, feel free to ask.

[2019-10-18 19:18] Mac2m commented on #620
I can't load newly added string resources. Any advise how to do it ?

[2019-10-18 20:13] PatrykPorabik commented on #620
Do you mean, that you've added new resource strings to xml files and you don't see them in your current installation? If yes, it's ok, resources are loaded during first installation. If you want to  add them to your store, just import the xml with missing resources or add them manually. If you add them to default xml file and upgrade xml file. they will be installed during installation or upgrade,

[2019-10-19 06:40] Mac2m commented on #620
Yes, that's exactly what I meant :) thank you.

[2019-10-19 08:34] sabboooo commented on #515
@PatrykPorabik if it means hide prices - of unpublished product(s) and total price - from flyout cart and the "normal" shopping cart summary page, I can do the task.

That can happen when a customer puts a product into shopping cart and a backend user sets ACL on that product. The user can't find the product in the search anymore but because he put it into shopping cart before it was unpublished h

[2019-10-21 07:00] #553 closed

[2019-10-21 07:48] PatrykPorabik commented on #515
Hi @sabboooo ,
It's more complicated topic. Scenario is easy to predict, but the problem appears in the next steps. If you hide prices, you will be able to make an order with added item and it will cause more problems in the future. It's much more complicated issue and I don't have any correct solution, so maybe it would be better, if you will take different task?

[2019-10-21 20:17] murataras opened #660 "Customer Impersonation for vendor"
İmpersonating the associated customer from vendor panel

[2019-10-21 20:18] #660 closed

[2019-10-21 20:50] sabboooo commented on #515
@PatrykPorabik I will search for another "good first issue".

The name of the bug should be more like "erase unpublished products from shopping cart"?

[2019-10-22 06:00] PatrykPorabik commented on #515
But turning off the permission -  Display prices, just hide prices and possibility to add product to cart. Product is still visible and accessible by customers.

[2019-10-24 08:22] PatrykPorabik opened #661 "Two Factor Authentication for users"
@dborovsky , we are thinking about adding possibility to set two factor authentication for users.

In the ideal scenario, it should work in the following way:
Admin specify if two factor authentication is possible or not. As a simple setting in Configuration -> Settings. Then on the login page, after filling the standard form, will get the textbox where they will be forced to enter the code coming

[2019-10-24 19:30] dborovsky commented on #661
i will do it

[2019-10-25 14:30] sabboooo commented on #519
@PatrykPorabik should all tiers be display or only the tier with the lowest price?

I have a problem with defaultResources.grandres.xml. Added a LocalResource but I can't use its value. Tried rebuilding the solution but nothing works. Can you look into the commit and tell me what I did wrong?

[2019-10-25 18:24] PatrykPorabik commented on #519
You've done everything correctly, but resource strings are loaded during installation or upgrade. I think it will solve your problem with resource strings - https://github.com/grandnode/grandnode/issues/620#issuecomment-543920783

In the case of first question, I have one idea, but I have to discuss it with the rest of team.

[2019-10-26 12:39] sabboooo commented on #620
If someone else searches it: Configuration -> Languages -> Choose a Language -> String Resources -> Add new record

[2019-10-26 12:52] sabboooo commented on #519
ok, that's a good idea with the featured tier price. I will leave it in current state and when a decision is made we can continue working on it

[2019-10-29 07:59] chinhvo opened #663 "Improve in Admin-Language"
When I add new language in Admin-Language, STRING RESOURCES list is empty.

Could we add default resource for this one.

After that, user no need to add new resource, user will modify existed resource.

This is my idea.

[2019-10-29 08:15] dborovsky commented on #661
I am now implementing following logic:
Admin specify if two factor authentication is possible or not. As a simple setting in Configuration -> Settings.

If two factor auth is enable, than user will have possibility to set 2factorauth in his profile with following scenario:

[https://medium.com/free-code-camp/how-to-set-up-two-factor-authentication-on-asp-net-core-using-google-authenticator-4b15d06

[2019-10-30 18:04] Orlys commented on #661
How about [GoogleAuthenticator](https://www.nuget.org/packages/GoogleAuthenticator)?

[2019-10-30 18:15] marbriganti commented on #646
Hi, Could you to solve the problem? I'm having the same problem.

[2019-10-30 18:24] Leonardo-Ferreira commented on #646
@marbriganti no... not so far... I actually decided to do that later, so I kinda "stashed" the issue

[2019-10-30 18:48] PatrykPorabik commented on #661
I didn't dive into the topic, but I guess it doesn't matter which app will be used. It's just about the code authentication, but if @dborovsky analyzed that, maybe will be able to say something more about that.

[2019-10-30 19:15] dborovsky commented on #661
if we speake about auth app, it's no matter.

[2019-10-31 14:13] PatrykPorabik commented on #646
I don't know how can I help you. But maybe I didn't understand the problem. In GrandNode if you created plugin correctly, when you Build it, it will be automatically copied to ~/Grand.Web/Plugins folder. Then you should go to Admin panel of your store, go Configuration -> Local plugins and install it from the list. You can't add it manually to InstalledPlugins.txt.

[2019-10-31 14:36] Leonardo-Ferreira commented on #646
Perhaps the problem is how to create a plugin correctly. I for one, followed the steps described above and it didn't work as expected... perhaps you can point out what I did wrong. I did once tried without having it manually placed in the InstalledPlugins.txt

[2019-10-31 15:56] marbriganti commented on #646
Hi @Leonardo-Ferreira
I was able to solve the problem. You have to run the site without debugging, and go to Local Plugins, click on "Reload list of Plugins" and then you will see it in the list available to install. Regards!

[2019-11-01 06:56] bhargava-raju commented on #621
I would like to work on it. Please provide more inputs on the bug

[2019-11-01 07:43] bhargava-raju commented on #651
Expressing my interest in this js migration from jQuery to Vue.js. I will work on this.

[2019-11-01 09:20] Navaneeth-Ewall opened #664 "Error loading on static files (CSS/JS) After publishing on my linux machine with ngnix server"
After publishing grandnode on my linux machine with ngnix server.
1) .net core 3.0,
2) mongo db 4.2

When i'm running a url 127.0,0,1 (localhost), it's working fine , but i have set reverse proxy with local ip  address , i'm getting error like css and js are not loading  , they running on https . But i didn't install any ssl on machine . kindly refer the below screenshot , pls help me to solve thi

[2019-11-01 09:46] PatrykPorabik commented on #664
It's something related with your server configuration. Can you share with us details about the reverse proxy configuration?

[2019-11-01 09:55] Navaneeth-Ewall commented on #664
Hi PatrykPorabik !
Thanks for your reply
here my reverse proxy configuration code on ngnix server ,

# Default server configuration
#
server {
	listen 80 default_server;
	listen [::]:80 default_server;

	# SSL configuration
	#
	# listen 443 ssl default_server;
	# listen [::]:443 ssl default_server;
	#
	# Note: You should disable gzip for SSL traffic.
	# See: https://bugs.debian.org/773332
	#
	# Re

[2019-11-03 12:55] KrzysztofPajak commented on #664
@Navaneeth-Ewall Go to appsettings.json (in AppData folder), find setting UseDefaultSecurityHeaders and set on false

[2019-11-04 04:51] Navaneeth-Ewall commented on #664
Hi , KrzysztofPajak , it's working
Thank you so much.

[2019-11-04 04:51] #664 closed

[2019-11-04 07:01] PatrykPorabik commented on #651
Hi,
That's fantastic, but we have to discuss this changes. It would be a milestone change for the project, so we will be forced to analyze it carefully. As soon as we start to discuss it, I will ask you for feedback here.

[2019-11-04 07:02] PatrykPorabik commented on #663
But you have ready to use language packs. Available on marketplace, you can import them easily with two clicks.

[2019-11-04 12:26] bhargava-raju commented on #651
looking forward to working with @PatrykPorabik and team on this.

[2019-11-05 07:13] bhargava-raju commented on #621
Can someone elaborate the issue, I would to like to start working on it.

[2019-11-05 07:39] PatrykPorabik commented on #621
Sure. Sorry for delay, I've missed your request somehow. In the admin panel, you have something what is called - Delete old exported files, you can find it in _Admin panel_ -> _System_ -> _Maintenance_.

We've forgot about it during the rewriting app and it lacks of async methods. Here is the code for it:
https://github.com/grandnode/grandnode/blob/develop/Grand.Web/Areas/Admin/Controllers/CommonC

[2019-11-06 05:33] Navaneeth-Ewall opened #665 "Getting Error while enable Api in app_settings.json file."
I'm running grandnode on visual studio 2019 with dot-net core 3.0  , when i enable Api in app_settings.json file ,getting error like

**TypeLoadException: Could not load type 'Microsoft.AspNetCore.Mvc.Internal.ActionConstraintCache' from assembly 'Microsoft.AspNetCore.Mvc.Core, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.**

![api_error](https://user-images.githubusercontent

[2019-11-06 08:30] TTomu commented on #665
API using oData, which does not support Core 3.0 (yet). We recommend to use stable version of GrandNode - 4.50

[2019-11-06 12:49] Navaneeth-Ewall commented on #665
Hi **TTomu**
Thank you so much , now it's working,

But when i create api token creation i'm getting response  like **404 Not Found** .
Following code will be my app setting file.

 **"Api": {
    "Enabled": true,
    "SecretKey": "reset!23",
    "ValidateIssuer": false,
    "ValidIssuer": "",
    "ValidateAudience": false,
    "ValidAudience": "",
    "ValidateLifetime": true,
    "ValidateIssuer

[2019-11-06 16:13] gelinski opened #666 "Put out of stock products to the end of list on search/categories and so on"
How can I configure GN to put the out of stock products to the end of the results on searches or categories? If not possible, is there some ticket to do it?

[2019-11-07 04:39] #665 closed

[2019-11-07 06:54] vijaytune opened #668 "Plugins - Differently building at latest version of visual studio 2019"
**Plugins - Differently building at latest version of visual studio 2019**
I am using Visual Studio 2019 to build and publish the grandnode application. The build/publish produces the files at plugins (Google, Facebook and BrainTree) differently previous version of VS2019 and latest version of VS2019.

I am using Microsoft Visual Studio Community 2019 - Version 16.3.7

**Screenshots**
![image](htt

[2019-11-07 07:39] TTomu commented on #666
There is no ready solution for this. You may use build in sorting options, but by default no low stock sort method is available.
Feel free to create new ticket .

[2019-11-07 08:43] TTomu commented on #668
Thank you, already notice difference related to VS2019. We will investigate it.

[2019-11-07 12:48] #666 closed

[2019-11-07 12:52] gelinski opened #669 "Out of stock products to end of search and categories pages"
Keeping the current sorting logic, add a default sort by product availability, throwing the unavailable products (out of stock) to the bottom of the lists. It is important to decrease page rejections by users.

[2019-11-07 14:36] KrzysztofPajak commented on #668
@vijaytune Which version of grandnode do you use?

[2019-11-08 01:42] Leonardo-Ferreira commented on #669
This is a double-edge kinda of deal... if we move products which have 0 stock, we might hurt sales because people might believe that the store doesn't SELL the product (since it might end-up in page 10 of the search)... this should either be a store-wide-configuration or something that the end-user can choose

[2019-11-08 01:52] wwrighter commented on #669
My - assumption - is that many store owners will not be keeping vigilant upkeep of inventory levels. Unless of course they have integrated connections between their inventory management systems and grandnode.

[2019-11-08 02:15] Leonardo-Ferreira commented on #669
@wwrighter you're correct. I've seen this in a lot of real world establishments. In fact, small stores even prefer to "turn off" inventory management...

[2019-11-08 11:04] vijaytune commented on #668
Version 4.50

[2019-11-08 11:17] KrzysztofPajak commented on #668
This problem was resolved in development version 4.60

[2019-11-08 11:40] gelinski commented on #669
But if not doing it, all customers will see the same products in same default order. If the product is at the top of list, but with no stock, the customer will give up searching, because he is viewing always that out-of-stock product in firsts places on grid. Therefore, the customer will reject the site and the store owner will loose sales. We identified this problem on NopCommerce and fixed it, b

[2019-11-08 13:07] vijaytune commented on #668
I am unable relocate the fix myself. Could you please let me know the fix#?

[2019-11-09 04:22] wwrighter commented on #669
Another assumption but I would think that the majority of clients for GN will be small to medium sized businesses. Having worked for a few smaller businesses throughout my life - i can only imagine that most will not spend the money on custom integrations between ERP/Inventory Manage and GN atleast not until they scale. For the larger companies or those willing to spend on custom integrations, it

[2019-11-09 15:47] wwrighter commented on #656
One feature we've implemented in previous ecommerce sites and one we've seen in the more popular online shops is the ability to specify who the shipping provider ie (i.e. usps, canada post, ups, purolator, fedex, dhl, etc) in additionn to the tracking number. Thus when the order is set to shipped the customers receives an automated email from the vendor - advising the change of order status to shi

[2019-11-09 18:24] gelinski commented on #669
Forget the point about integration, it was just an example. What I'm trying to say is that the products always will appear in the same sort, even out-of-stock products appears in the beginning of grid. Not all store owners will use the integration, it's ok and about this I study each case. But some owners will work exclusively with GN and have to track inventory. If turning off this, he assumes th

[2019-11-11 09:49] dborovsky commented on #661
I finished about 80%. Sorry for delay. I was on holliday. I will try to do commits as soon as possible.

[2019-11-11 13:56] Leonardo-Ferreira commented on #669
@gelinski are you sure that the rejection is happening because out-of-stock products are being displayed? Rejection is something really difficult to pinpoint. I would recommend a tangible experiment: fork the release, implement the desired behaviour, monitor and report the result.

I've worked on a few small e-commerces and on a really big one (GAP), and I can tell you that, unless all the product

[2019-11-11 14:07] gelinski commented on #669
@Leonardo-Ferreira tell it to store owner, that was receiving several complaints about this problem. After we solved it at NopCommerce, the store has the rejection rate decrease significantly.
P.s.: the store is small business. If myself is searching something between categories and/or searches in any store, the last thing that I want to see is an out-of-stock product. If there are much more produ

[2019-11-11 18:00] Leonardo-Ferreira commented on #669
My fiancé is a store owner! your report is completely unexpected and does match any scenario I've ever lived. I am assuming that from a page of 20 products, you had an average of 2 (10%) that were out of stock, and when you pushed those to the bottom, your retaining statistic improved by 50% or more. Are my assumptions correct? if the store you're talking about had a 90% out of stock page, I'd say

[2019-11-11 18:16] gelinski commented on #669
You are considering the very specific search. If I click in some category (specific or not), what's the sense of showing the out-of-stock products in firsts lines/pages? I'm looking for a notebook Lenovo, for example. There is no stock of it, but can have some stock of HP, Samsung, etc., and it is in lasts pages. Until I figure out it, I already gave up buying in this store. Don't take in consider

[2019-11-11 20:07] dctremblay opened #670 "ASCII characters not enforced in product SeName/slug"
When a product does have a SeName/slug with non-ASCII character, when  previewing the product page, a 500 error page is shown. The stack trace can be found in System -> Log

**Expected behaviour**

When creating a product with an accent in the product name, the auto generated SeName must have its non-ASCII characters converted to ASCII equivalent, or stripped.

But also, either :

- non-ASCII char

[2019-11-11 21:21] dctremblay opened #671 "When saving a product, its m:n fields aren't updated in admin until cache manually cleared"
1. Create a product
2. Save it
3. ???
4. Modify any n:m (add/remove) :
    - Tags
    - Categories
    - Manufacturer
5. Save
6. Changes made to n:m seems to not work
7. Clear the cache
8. Changes made to n:m now appear in admin

I can understand that's correct behaviour for frontend, but for admin, the cache should not apply there.

[2019-11-12 00:29] dctremblay opened #673 "Implements TaxRateModel.Name and TaxRateModel.TaxIdNumber"
**Is your feature request related to a problem? Please describe.**

In Canada, the tax number you get is different from the VAT (which is the entreprise number).

There are 2 different tax: Quebec and Canada, each has its own tax ID number and tax name.

It is mandatory that these numbers must be shown on the invoices.

I have no doubt this same principle may apply in other countries too.

**Descr

[2019-11-12 01:20] wwrighter commented on #673
Just to clarify and correct me if I am wrong but this heavily depends on multiple factors David.

For example: if you are an Ontario based company and sell to Quebec or any other province aside from Ontario or the Maritimes, as the Ontario company you are only obligated to collect 5% (GST) on the sale. However, if you sell online to the Maritime provinces, you must charge the 15%.

If you are a Qu

[2019-11-12 02:24] #671 closed

[2019-11-12 08:08] PatrykPorabik commented on #670
I've tried to simulate this on our development enviroment and I'm not able to get this error. Can you tell me step by step with invalid example, how to simulate it?

[2019-11-12 10:41] scharada commented on #661
maybe this can help
https://bitbucket.org/devinmartin/otp-sharp/src/default/
https://github.com/kspearrin/Otp.NET

[2019-11-12 10:43] scharada commented on #661
@dborovsky , will 2FA be used in login and registration flow ?

[2019-11-12 11:14] dborovsky commented on #661
@scharada only  login and registration flow

[2019-11-12 12:03] PatrykPorabik commented on #668
The easiest way is to merge the changes from current version. But please note it's development version, so it may contains bugs, the changes will be officially released when we will release the 4.60 version.

[2019-11-12 12:03] #668 closed

[2019-11-12 15:28] dctremblay commented on #670
Here's what I've done to cross this bug :

1. Deploy GN on DigitalOcean official GN image
    - Ubuntu 18.04
    - .NET Core 2.2.301
    - nginx 1.14.0
2. Add a new product having a Latin accent in its title (éàë...)
3. Save (slug will be then generated)
3. Try to preview page
4. Error 500 with stack trace in logs

[2019-11-12 15:35] ghost opened #676 "When saving a product, its m:n fields aren't updated in admin until cache manually cleared"
1. Create a product
2. Save it
3. ???
4. Modify any n:m (add/remove) :
    - Tags
    - Categories
    - Manufacturer
    - Attribute Values
    - etc..
5. Save
6. Changes made to n:m seems to not work
7. Clear the cache
8. Changes made to n:m now appear in admin

I can understand that's correct behaviour for frontend, but for admin, the cache should not apply there.

[2019-11-12 16:20] dctremblay opened #677 "Product attributes predefined values default control type and alternative value"
Examples I will give will reflect my specific use case but may apply to others.

**Problem**

I want the customer to choose his t-shirt colour with the colour squares control type.

How it is currently, for each T-shirt colour combination, I have to manually set the colors and it's a big overhead.

**Solution**

Extract control type logic from product attribute value, make it generic, reimplement

[2019-11-12 16:33] dctremblay opened #678 "In admin when hovering on the (?) to get hint, hint box glitches a lot when page zoom != 100%"

[2019-11-12 16:37] dctremblay opened #679 "Widgets.Slider admin : Clicking on thumbnail should open original image"
When in list mode, click on the thumbnail :

- the link is the thumbnail itself instead of the original image
- it should be the original image.

When in edit mode, click on the thumbnail :

- there's no link at all
- it should link to the original image

[2019-11-12 16:40] dctremblay opened #680 "Admin : Buttons that submits form must alert the user to save changes before proceeding"
1. Admin
2. Configuration
3. Settings
4. General Settings
5. Full-text Settings

When the user has made changes to form, if he clicks on "Enable/Disable full text",
there's should be an alarm which says "please save before doing this" or something.

[2019-11-12 21:39] dctremblay opened #681 "Product attributes predefined values values default control type and alternative value #677"
For example if you offer a t-shirt in many colors,

How it currently works :

1. Admin
2. Edit a product
3. Product attributes
4. Add new attribute
5. Select attribute which is not of custom user input type
6. Click save
7. Click on the "View/Edit values" of the attribute
8. Click "Delete" for each attribute value not wanted for that product

How it should work for the user :

1. Admin
2. Edit a p

[2019-11-12 23:06] dctremblay commented on #676
This can be awkward because if someone is not aware of this bug his reflex will probably be to retry it "ohh that's true I remember I have to clear the caches" :

1. Add product attribute
2. Save
3. Changes not reflected
4. Re-add product attribute at point 1
5. Clear cache
6. The product is duplicated 2x which is very confusing for people not aware of this bug

[2019-11-13 00:11] ghost opened #682 "How to disable GrandNode cache ?"
I haven't found how to do it

[2019-11-13 06:46] PatrykPorabik commented on #680
We can consider to add a little notification above the button, like it's made on ACL/Stores tabs on i.e Products. But we've never got a feedback that it's problematic.

[2019-11-13 06:47] PatrykPorabik commented on #670
Even on our demo I'm not able to simulate this issue. Can you try to show it on https://demo.grandnode.com?

[2019-11-13 14:28] PatrykPorabik commented on #678
Can you simulate it on our demo? Maybe provide gif or screenshots?

[2019-11-13 21:01] dctremblay commented on #670
Thanks for your help.

That's right, cannot reproduce on demo myself too.

What .NET Core 3 is the demo running on ?

Maybe it is the DigitalOcean image which is broken ?

[2019-11-13 22:38] dctremblay commented on #681
@PatrykPorabik say me what you think about this and how you would design it then I will develop it. Thanks !

[2019-11-14 01:08] dctremblay commented on #677
@PatrykPorabik say me what you think about this and how you would design it then I will develop it. Thanks!

[2019-11-14 06:38] PatrykPorabik commented on #670
The demo is running on .NET Core 2.2. I can check the image again, but I'm not sure if it's the problem.

[2019-11-14 10:24] PatrykPorabik opened #684 "Change the way how bestsellers are generated"
If one product from bestsellers is unpublished, it should insert the next one for its place.

[2019-11-14 10:26] PatrykPorabik opened #685 "Bestsellers improvements"
1. Bestsellers should be generated from paid orders
2. Possibility to specify the number of months from which bestsellers should be generated. I.e just from last 6 months.

[2019-11-14 11:10] PatrykPorabik commented on #676
Have you configured the progressive web app / service worker?

[2019-11-14 11:18] PatrykPorabik commented on #681
To be honest, I'm not able to understand where is the problem in that case or I don't see it :)

[2019-11-14 11:22] PatrykPorabik commented on #677
I would add just the color picker to predefined values of attribute.

[2019-11-14 13:46] Leonardo-Ferreira commented on #682
As far as I can tell you can't really disable caching 100%... May I ask what are you trying to accomplish?

[2019-11-14 14:44] #684 closed

[2019-11-14 14:44] #685 closed

[2019-11-14 14:46] #652 closed

[2019-11-14 16:31] dctremblay commented on #682
I have some issues that really seems to be cache related.
And also I plan to develop lots of stuff on GrandNode, it is a good practice to disable caches while development.

[2019-11-14 16:32] dctremblay commented on #677
I will try that, thanks !

[2019-11-14 16:33] dctremblay commented on #681
For example if there's 50 different colour combinations, and X product have only 4, then the user will have to manually remove 46 of them.

[2019-11-14 16:34] dctremblay commented on #676
I do not know what it is.

It is the stock image from DigitalOcean

[2019-11-14 16:37] dctremblay commented on #670
Please keep ticket open in case I find a way to manually trigger that bug

[2019-11-14 17:22] NathalieTremblay opened #686 "In a product sheet, when hovering mouse the over the image, the zoom is glitched when the image is smaller than the frame of the image."

[2019-11-14 17:23] Leonardo-Ferreira commented on #682
a possible workaround would be using redis cache, and run a really small cache, where whatever data would be constantly pushed out (https://stackoverflow.com/questions/33115325/how-to-set-redis-max-memory/33119590)
Try a value such as 1kb... but beware, the performance will drop significantly and other issues might arise

[2019-11-14 17:39] dctremblay commented on #686
This ticket is made  by my mother.

Trivial tickets like this one I will assign them to interns.

[2019-11-14 17:40] dctremblay commented on #680
I will assign it to intern

[2019-11-14 17:40] dctremblay commented on #679
I will assign it to intern

[2019-11-14 17:40] dctremblay commented on #678
I will assign it to intern, he will give you more details soon

[2019-11-14 17:56] NathalieTremblay opened #687 "Make LanguageTool works in the admin"
It works with The text box with many lines. But not with the box with only one line.

We will make it done by an intern.

[2019-11-14 18:07] dctremblay commented on #686
This affects the default theme

[2019-11-14 18:12] dctremblay commented on #687
This could be probably be fixed with a standard HTML5 tag.

[2019-11-14 18:25] NathalieTremblay opened #688 "In the customer section on the website and the admin, when adding new address : first name, last name an email should be filled by default"
An intern will make it.

[2019-11-14 19:16] dctremblay commented on #681
I am doing a patch for this

[2019-11-14 19:19] dctremblay opened #689 "In admin, add tabs anchors"
An intern will make it

[2019-11-14 21:00] NathalieTremblay opened #690 "Given the website is disabled, when impersonating a customer, then the website should not be seen as disabled"

[2019-11-14 21:17] NathalieTremblay opened #691 "Any model that can be ordered should be drag-n-droppable"

[2019-11-14 23:14] dctremblay opened #692 "Normalize code formatting"
I think that running `.editorconfig` on whole project could be a good thing

[2019-11-15 07:03] PatrykPorabik commented on #692
Current one is not enough?

[2019-11-15 07:04] PatrykPorabik commented on #691
Can you provide more details about it?

[2019-11-15 12:35] PatrykPorabik commented on #670
I can confirm, that I've checked the DigitalOcean image and I wasn't able to simulate this issue. So it's something strongly related with your settings or server.

[2019-11-15 16:51] NathalieTremblay opened #693 "In newsletter mailing campaign creation there is should be a TinyMCE"

[2019-11-15 17:15] NathalieTremblay opened #694 "It should be possible to create orders through admin"

[2019-11-16 00:03] #692 closed

[2019-11-16 00:04] dctremblay commented on #691
In admin, all the 1:n and m:n which have a "Display order", they should be drag-n-droppable to set their orders.

[2019-11-16 00:26] dctremblay opened #695 "Admin : inline m:n foreign entity create"
Admin -> Catalog -> Products -> Mappings -> Category -> Add new record

In the dropdown it would have option "add new category" which opens a popup to create a new category. This could apply to all instances of an inline m:n foreign entity and not only to product category.

This feature could improve productivity of people managing the catalog.

[2019-11-18 08:46] PatrykPorabik commented on #695
Thanks for suggestion. We will consider it.

[2019-11-18 08:46] PatrykPorabik commented on #694
We want to create a plugin to handle Advanced B2B Features and it will be one of its features.

[2019-11-18 08:46] #694 closed

[2019-11-18 11:32] wwrighter commented on #694
Most major platforms make it possible for admins to create "draft orders" that generate a link that can then be sent to a customer, making the process of purchase very simple as items are already selected and in some cases information related to the customers billing or shipping addresss may have already been filled out for them.

I am not sure this feature is exclusive to B2B

[2019-11-18 11:39] PatrykPorabik commented on #694
You can do it now with impresonate session.

[2019-11-19 10:25] sergey-messer opened #698 "Nginx SSL termination reverse proxy, X-Forwarded-Proto header not mapped to Request.Scheme"
Enviroment:
Ngnix + GrandNode in Docker containers.
AppSettings:
UseForwardedHeaders: true
UseHttpXForwardedProto:true
UseHttpClusterHttps:false
ForwardedHttpHeader=""

Ngnix set correct header X-Forwarded-Proto=https
But Request.Scheme still http and Request.IsSsl=false

It affects on building RedirectUrl for example in Google Authentication Plugin
This is known problem in ForwardedHeadersMiddlew

[2019-11-19 13:22] sergey-messer commented on #670
It is happen me also.
For reproduce you have to setup multilanguage site with language code in url.
Set up SEO friendly page name contains no ASCII charters.
It happen when redirecting to localized url (with language code)
Location header contains non-ASCII.
This bug was in NopCommerce and fixed by Custom Redirect Executor with UrlEncoding before redirect.
Fixed Custom  redirect executor has been

[2019-11-19 16:01] sergey-messer opened #699 "Hard coded HTTP chema in Grand.Web/View/Customer/Info.cshtml"
@Url.RoutUrl("Login", null, "http")

Exprcted:

@Url.RoutUrl("Login", null, _webHelper.IsCurrentConnectionSecured()? "https": "http")

[2019-11-19 16:08] sergey-messer commented on #670
For reproduce go to
https://greenfieldflowers.co.il/en/digital-downloads

And try change language to Hebrew

[2019-11-20 06:42] PatrykPorabik commented on #670
Yes, I got it, finally I was able to simulate it. Thanks for clues Sergey.

[2019-11-20 06:59] dborovsky commented on #661
@PatrykPorabik  I created PR.

Maybe code not very well. I will a bit refactor.
I think we must add posibility for every user enable or disable 2fa. This feature must be implemented in admin panel of every user.

-  User will click enable 2fa
-than opening window with qrcode,
- user uses one time authentication application
- and when user will sign in, don`t need to show again qrcode, only input d

[2019-11-20 09:38] PatrykPorabik commented on #699
You're right. Thanks for notification, we will fix it in incoming version.

[2019-11-20 13:33] #699 closed

[2019-11-22 03:07] nazneennahar commented on #506
hey i would like to work on this please

[2019-11-23 17:18] sergey-messer commented on #670
Fix does not work.
I get "too many redirections" exception.
My enviroment:
Two language site.
Search engine friendly page name in english for english and in non-Ascii for second language (Same category page)

[2019-11-23 17:43] dctremblay commented on #670
@sergey-messer  Yep the fix I've done does not solve the problem at the source.

I have found that by enabling the feature that convert slugs to ASCII characters, it fixed the problem, but now for example Hebrew wouldn't work at all in that setup.

The patch sets specific config during installation, so what you want to do is to manually change the config key through admin.

If you want to give it

[2019-11-25 07:27] KrzysztofPajak commented on #670
@sergey-messer Is it works correctly when changed the settings (ConvertNonWesternChars) ?

[2019-11-25 10:36] scharada opened #702 "QUESTION: using mongodb Polymorphism"
@TTomu  i am trying to use polymorphism as specified by mongodb docs as follows :
`[BsonDiscriminator(RootClass = true)]
[BsonKnownTypes(typeof(Cat), typeof(Dog)]
public class Animal
{
}
[BsonKnownTypes(typeof(Cat), typeof(Dog))]
public class Animal
{
}

[BsonKnownTypes(typeof(Lion), typeof(Tiger))]
public class Cat : Animal
{
}

public class Dog : Animal
{
}

public class Lion : Cat
{
}

public c

[2019-11-25 17:17] Leonardo-Ferreira commented on #702
I'm sorry, but I don't see the relevance of this question here. Shouldn't you ask this @ Stackoverflow or similar?

[2019-11-25 17:22] sergey-messer commented on #670
Yes I know about ConvertNonWesternChars and it was true.
My problem is when i update several time SEO slug I have multiple entries in table UrlRecord with IsActive false and one (last) IsActive=true.

But UrlRecordService (GetBySlug and  GetBySlugCached functions) run select from this table with wrong OrderBy:

            var query = from ur in _urlRecordRepository.Table
                        w

[2019-11-26 15:40] scharada commented on #702
@Leonardo-Ferreira  oh thank you for pointing me to stack ... really ????  if it's not relevant to you that the current repository used in grand does not apply polymorphic structures according to the mongo driver then maybe you should not be commenting this at all ...

[2019-11-26 17:17] Leonardo-Ferreira commented on #702
@scharada I'm sorry if I offended you, I didn't mean to... Please accept my deepest condolences.
Perhaps you can rephrase your question, indicating the actual scenario you're trying to implement? Maybe also committing and sharing the code so we can reproduce locally?

[2019-11-26 17:25] KrzysztofPajak commented on #702
@scharada If you don't want create new repository but you need use another class, please check this:
[https://github.com/grandnode/grandnode/blob/develop/Grand.Api/Services/CustomerApiService.cs](url)
In this file we use collection of type IMongoCollection<VendorDto> _vendor which commes from Domain.Vendor (_mongoDBContext.Database().GetCollection<VendorDto>(typeof(Core.Domain.Vendors.Vendor).Name

[2019-11-26 17:57] scharada commented on #702
@Leonardo-Ferreira don't worry ... it's ok.
@KrzysztofPajak i've seen that before . that is not what i am trying to do. here is the scenario.
think of the Reviews we already have in Grand (Product Review and Vendor Review). both reviews have few common properties and some others that might be specific to each review type.
in the current code, we have separate classes that represent each of the rev

[2019-11-26 17:59] scharada commented on #702
i'll try to fix this and share it ... maybe it'll be used by others.

[2019-11-29 07:00] sergey-messer opened #703 "Synchronous operations are disallowed. Call ReadAsync or set AllowSynchronousIO to true instead."
Environment: GN 4.6 (Core 3.0) PayPal Standard Plugin
Execption:
System.InvalidOperationException: Synchronous operations are disallowed. Call ReadAsync or set AllowSynchronousIO to true instead. at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.HttpRequestStream.Read(Byte[] buffer, Int32 offset, Int32 count) at System.IO.Stream.CopyTo(Stream destination, Int32 bufferSize) at System.IO.Str

[2019-11-29 12:04] PatrykPorabik commented on #703
Thanks for notification, it will be fixed in the incoming version of GrandNode.

[2019-11-29 14:26] #703 closed

[2019-11-29 16:04] sergey-messer opened #704 "_Poll.cshtml JS script exception"
\Grand.Web\Views\Shared\_Poll.cshtml

JS script is not necessary and work only in English locale . In another locale or without word "vote(s)" throw exception.
It can be safety removed

<script asp-location="Footer">
        $(".poll .poll-item .list-group-item").each(function (index, value) {
            var putter = $(this).text();
            putter = putter.split('(s) - ');
            putter

[2019-12-02 09:17] #506 closed

[2019-12-03 00:40] Leonardo-Ferreira commented on #682
This question got stuck in my head, not in the sense of turning off the cache, but shouldn't we have 2 levels of cache? lvl 1 would be in-process-memory and lvl 2 a distributed (redis)? wether we like or not, when refreshing the main page alone, (for the sample data installation)we make 88 roundtrips to redis... if some of that info, like the one used to authorise, is locally available, we could s

[2019-12-03 00:50] Leonardo-Ferreira commented on #682
In case you're wondering, here are the 88 keys in request order:
"HIT" for key: "Grand.stores.all"
"HIT" for key: "Grand.language.all-False"
"HIT" for key: "Grand.currency.all-False"
"HIT" for key: "Grand.pres.widget-5de56bf3e7ae9309fdc786f2-home_page_top-DefaultClean"
"HIT" for key: "Grand.slider-5de56bf3e7ae9309fdc786f2-HomePage-"
"HIT" for key: "Grand.plugins.widgets.slider.pictureurl-5de56cf6e

[2019-12-04 18:34] Leonardo-Ferreira opened #707 "Performance degradation on main page"
**Describe the bug**
When accessing the main page, supplied with sample data and a loaded redis cache, the request for the "/" resource takes around 850 ms.
But if I simulate 3 concurrent access, the response time climbs to around 4s!
At first I thought that this had something to do with redis cache, but after switching to memory cache only, the behaviour persisted aggravated by a crash around the

[2019-12-04 20:59] Leonardo-Ferreira opened #708 "Do we really need "sliding expiration"?"
There's an overhead to using sliding expiration: behind the scenes 2 commands are run on redis... regardless if they're pipelined, in the case for 60 minutes windows, and over 40 cache access for the resource "/" this can be a problem... Most of the info on the "/" resource can be easily retrieved, requiring only simple queries that usually return small documents, so shouldn't we set to Absolute E

[2019-12-05 18:50] sergey-messer opened #709 "Wrong width calculation between mobile and desktop view"
File:
\Grand.Web\wwwroot\scripts\public.common.js
Function:
function **mainMenuReplace**() {
    if ($(window).width() < 991) {
***
==========================================
Must be
if (window.innerWidth  <= 991)
==========================================

To reproduce try to resize width of window about +- 991 px and you will see both menues mobile and Desktop + Logo hidden.

[2019-12-06 08:44] PatrykPorabik commented on #709
Hi Sergey,

We are reworking the default clean theme a little. We will check the mentioned issue, thanks for notification.

[2019-12-06 11:54] sergey-messer opened #710 "CultureMiddleware does not set CurrentUICulture & CurrentCulture for selected locale"
GrandNode\Grand.Framework\Infrastructure\CultureMiddleware.cs
I think it have to be:
[code]

[2019-12-06 12:57] KrzysztofPajak commented on #710
@sergey-messer
This middleware is used only for admin panel for correct working Kendo UI libraries.
If you need add support for some culture please use settings SupportedCultures in the file App_Data/appsettings.json.

[2019-12-06 16:23] sergey-messer commented on #710
Not wotk for me
"UseRequestLocalization": true,
"DefaultRequestCulture": "en-US",
"SupportedCultures": [ "en-US", "he" ], OR "SupportedCultures": [ "en-US", "he-IL" ]
Still not set CurrentUICulture

[2019-12-09 20:54] Leonardo-Ferreira opened #712 "Cache related performance settings"
The cache related performance settings are binary. You either use them or you don't. Since the cache time is 60 minutes, I can imagine that several stores don't use them because of that latency.

So, instead of making them binary, why don't we change them to receive a number, where the number is the duration of the cache for that item/feature. This way, a store could set the cache for product pric

[2019-12-10 09:18] TTomu opened #716 "Allow staff to add tier pice"
If product is available in more then one store, staff is not able to add tier price (exmaple: special offer - time limited) to be used in specific store.

**Describe the solution you'd like**
Staff should be able to add/edit/remove tier price assign to particular store

[2019-12-11 01:44] Leonardo-Ferreira opened #718 "Create "Performance Tips Page""
**Is your feature request related to a problem? Please describe.**
The description boxes next to the "Catalog->Performance" options are too small

**Describe the solution you'd like**
Create a page with general guidance for performance tunning, and take admin there for a more clear/complete description of the impact of each setting

[2019-12-11 02:04] Leonardo-Ferreira opened #719 "How to change the label for settings?"
I'm working on a change for a setting. I managed to almost get it right, I just need now to change the label and the hint... I already changed the only occurrence of the text, on `defaultResources.grandres.xml` but the change does not reflects on screen... what must I do now?

For more info, check the branch: https://github.com/Leonardo-Ferreira/grandnode/tree/cachePriceNoLongerBinary

[2019-12-11 10:32] KrzysztofPajak commented on #710
@sergey-messer
Could you explain what's not work?

[2019-12-11 12:09] scharada opened #720 "Disable Buttonsafter click to avoid double clicks"
buttons should be disabled after click. in many cases even "unwanted" like mouse malfunction , a double click can happen and cause undesired results.

[2019-12-11 20:07] sergey-messer commented on #710
CultureInfo.CurrentUICulture is not set for selected language (locale)
when i use url like https://MY_STORE/he/

[2019-12-11 20:15] shaykhsiddique commented on #679
![check](https://user-images.githubusercontent.com/18369069/70656775-edda7800-1c84-11ea-8458-983526db8e15.png)

The marked thumbnails links have problems ??

[2019-12-12 08:03] KrzysztofPajak commented on #710
@sergey-messer
Yes, current culture is not related with selected language yet.
But we have plan to do this and we don't have estimated time.
PS. We removed from project engine.currentcontext.resolve :) So we need find another way to make this.

[2019-12-12 19:04] dctremblay commented on #679
@shaykhsiddique Yep, if you click the image it should be the full scale image instead of the thumbnail.

[2019-12-13 01:14] Leonardo-Ferreira opened #724 "Why is PictureSourceTagHelper.ProcessAsync calling base.Process instead of base.ProcessAsync?"
Grand.Framework.TagHelpers.PictureSourceTagHelper overrides the `ProcessAsync` but instead of calling `base.ProcessAsync` it calls `base.Process`...

[2019-12-13 13:30] #724 closed

[2019-12-13 17:32] sergey-messer commented on #710
As temporary workaround i develop custom IGrandStartup plugin
[code]

[2019-12-14 18:48] dctremblay opened #726 "Contribute to documentation"
I haven't found a way how to contribute to documentation.

How can I do this ?

Do you use something like Jekyll, Sphynx, GoHugo or something like that over a Git repo ?

Thanks

[2019-12-14 19:10] PatrykPorabik commented on #726
To be honest, we've never considered contributions to docs. We use GrandNode with knowledge base functionality.

[2019-12-14 19:19] dctremblay commented on #726
Is docs.grandnode.com stored in database or files?
What format it currently is?  HTML, markdown?

[2019-12-15 21:12] sergey-messer commented on #710
Or add same code in  Grand.Framework\Localization\LocalizedRoute.cs

[code]

[2019-12-16 13:39] dborovsky commented on #719
you must to add to EN_450_460.nopres.xml

[2019-12-16 14:12] #602 closed

[2019-12-16 14:13] #601 closed

[2019-12-16 14:13] #604 closed

[2019-12-16 14:13] #603 closed

[2019-12-17 13:11] dborovsky commented on #682
I think separate on two level is no good solution.

Because memory cache is usefull:
- In development and testing scenarios.
- When a single server is used in production and memory consumption isn't an issue.

[2019-12-17 15:01] Leonardo-Ferreira commented on #682
Regarding development and testing scenarios, in my opinion, in-memory cache is NOT a good/helpful thing.
A very common source of bugs and errors incur when the cache expires, and with in-memory cache, reproducing this scenario is quite difficult comparing to executing `flushall` on redis. Another scenario is when you need a empty cache to perform a test: without redis, the easiest way to stop and

[2019-12-18 12:44] dborovsky commented on #682
i am reading your article now.  very interesting. We can try to implement this, but main team of grandnode shoul say anything about this.

I agree with you abot disabling cache in test and develop mode.

[2019-12-18 17:29] Leonardo-Ferreira commented on #682
@dborovsky, the article very lengthy and complete no? hehehehe

Yes, this is something that everyone should be onboard with, this will be a long undertake.

[2019-12-18 18:43] scharada commented on #682
a remake of the cache in grand is a great idea ... i think we should start by customizing the current caching mechanism which will open a way to changing the way it works.
imho we should start by making the current caching configurable. meaning that we should have a system setting defining what entities and data should and should not be cached.
then we could add how each entity/data should be cach

[2019-12-18 20:21] grantfar commented on #716
I can take this

[2019-12-18 22:17] grantfar commented on #716
@TTomu What do you mean by "If product is available in more then one store, staff is not able to add tier price". It looks like you can for me.
![tier](https://user-images.githubusercontent.com/14185405/71127982-311f7400-21ba-11ea-8dd6-a500def03867.png)

[2019-12-19 00:11] Leonardo-Ferreira commented on #682
This is usually referred to as "Cache Aggressiveness". Basically we cache everything and to each key we assign a level of priority, and like logging, we set which level of caching we want/need. Also, when caching, each key should be able to define it's expiration (today, everything lasts for 60 minutes), and it's desired level of caching: redis_only, redis+in_memory, in_memory_only...

[2019-12-19 00:18] Leonardo-Ferreira commented on #682
@scharada I started working on this matter on #721... I hope it to be approved soon so I can improve upon it.
I'm planning to move the keys that are used on middleware to in_memory cache, regardless if redis is active or not. IF redis is on, I'll use it's pub/sub feature to evict the in-memory cache of all the hosts...

[2019-12-20 09:09] #707 closed

[2019-12-24 13:25] ssimontis commented on #720
I think a better solution from a UX perspective might be to debounce button presses. If 2 presses occur within a given time period, say 300ms, the 2nd is ignored. If state isn't handled properly a button can stay disabled when it should be re-enabled and unless there are other indicators on screen the user may not understand why the button is disabled

[2019-12-24 13:46] ssimontis commented on #359
Hello, do you have more details about this, like acceptance criteria? I'd be happy to tackle this but am not sure which list you are talking about.

[2019-12-28 08:26] KrzysztofPajak commented on #710
@sergey-messer Please check this commit https://github.com/grandnode/grandnode/commit/7cb2157e209b3c96d786394757804df7349b2de3

[2019-12-29 08:56] dborovsky commented on #682
@Leonardo-Ferreira  @scharada  I can help you. Just tell me. I need more undestanding how it will be work in the future

[2019-12-29 09:04] dborovsky commented on #612
@PatrykPorabik  @KrzysztofPajak  Is this task still relevant. If yes I can do it. But explain in detail what you mean - Allow to make combinations only from required attributes

[2019-12-31 14:45] sepehrland opened #732 "Auction range increament"
I think it could be better if we can set an incremental range for an action product,
I mean, for example, if the start price is 100000, I should be able to set a range, for example : 5, then user can offer prices like 100005, 100010, not prices like 100001

[2020-01-02 09:52] PatrykPorabik opened #733 "Using "filter=contains" in WebAPI yields no result"
"Using this in WebAPI yields no result when there are data: https://mall.ipaynow.io/odata/product?$filter=contains(Name,"MyQueen")"

Issue coming from: https://grandnode.com/boards/topic/5e0711690e9b4e87d430210a/search-keyword-in-using-api

[2020-01-02 09:54] Tall-Paul commented on #458
Just adding to this as a user of GrandNode, OData was a bad choice for an API.  GraphQL or even straight up REST would be much better for us (and I suspect for the vast majority of people looking for an ecommerce platform).

[2020-01-02 10:11] TTomu opened #734 "Add customer mail to replyto field"
**Is your feature request related to a problem? Please describe.**
In case of question about a product (Ask question), form is show to customer, with field email. That email should be added to message template to replyto field.

[2020-01-02 10:32] #733 closed

[2020-01-02 11:02] TTomu opened #735 "Send AskQuestion to vendor"
If customer would like to ask about product which is assign to vendor, vendor should get email with this question (currently only store owner get notification).

[2020-01-02 11:57] TTomu opened #736 "Set base currency for auctions"
Set base currency for auctions view at "my account". Currently currency is changed without calculating currency rate.

[2020-01-04 12:17] shaykhsiddique commented on #679
@dctremblay . I will fix it... How much USD will you provide for this ticket ??

[2020-01-04 23:54] sepehrland opened #737 "Auction Log for admin panel"
Admin should has the ability to see the log of auctions and also manage the auctions, who add bids, who wins, delete some fake bids, flag the winner for the second one if the winner does not pay, and many more which related to the auctions.

[2020-01-05 00:13] dctremblay commented on #689
Each tabs in admin should have its own url with a hash #, so you can access directly this tab back in the URL.

Example in product page there's vertical tabs, General, SEO, Pictures etc .. Each of these should add a #general , #seo, #pictures etc .. in the URL when clicked, so when accessing this URL (containing hash anchor) afterwards, the right tab will be opened.

[2020-01-06 14:21] Leonardo-Ferreira opened #738 "Cache consolidation"
### Problem
Our application does not handle concurrent requests very well. The bottleneck is the caching mechanism/strategy. Redis is indeed a very powerful tool but we need to change the way we use it.

Our current strategy is to cache very small pieces of info, which usually substitute a database query.

Currently, a single request of a anonymous user to the main page of the SAMPLE DATABASE will

[2020-01-06 17:51] Leonardo-Ferreira opened #739 "Can we agree on not caching default values?"
### Proposal
If we agree on not caching `default(T)` and `null` values, we can save on 2 fronts: cache size and roundtrip time.

### Suggestion
We do this by setting the `DefaultValueHandling` value of `JsonSerializerSettings` to `Ignore` on the `Set` methods. Even better results can be obtained if we do not store empty enumerations/lists/collections.

### Example given
A key with the pattern `Gra

[2020-01-06 18:02] jzabroski commented on #739
What happens if the default value changes across releases?

[2020-01-06 18:20] Leonardo-Ferreira commented on #739
`default(T)` is not defined by "us". `default(T)` is defined the .Net Core runtime itself. Whatever the runtime identifies as `default(T)` will be ignored by the serialisation on the way out and re-established on the way in, whatever other value will be persisted!
Tou can check [this table](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/default-values-table) fot the com

[2020-01-06 18:35] #739 closed

[2020-01-08 09:28] rezabashiri opened #741 "expand and select queries"
I'm wondering to expand product by categories or pictures but after testing all kind of queries im  respond by error :

"The query specified in the URI is not valid. Property 'categories' on type 'Default.ProductDto' is not a navigation property or complex property. Only navigation properties can be expanded."

[2020-01-08 09:31] KrzysztofPajak commented on #741
@rezabashiri Unfortunately "expand" and "select" method for OData with MongoDB is not working correctly (is not supported).

[2020-01-08 09:31] #741 closed

[2020-01-08 10:51] rezabashiri commented on #741
would you please show a way to fetch all categories of a product or pictures of a product and i need a way to filter products base on category , i couldnt find any sample about those

[2020-01-08 10:52] rezabashiri opened #742 "fetch all categories of a product or pictures of a product"
would you please show a way to fetch all categories of a product or pictures of a product and i need a way to filter products base on category , i couldnt find any sample about those

[2020-01-08 11:00] KrzysztofPajak commented on #742
Try use this query:
/odata/product?$filter=Categories/any(c:c/CategoryId eq 'xxx')

But you must have a patch https://github.com/grandnode/grandnode/commit/d444d2173382bce9c07d3a82b5d44b8daf531c3b

[2020-01-08 11:14] rezabashiri commented on #742
thank you so much , but how about my first question to have pictures of a product in product list ,
I just want to show products in my app with their pictures without extra fetch request , isnt it possible?

[2020-01-08 11:20] KrzysztofPajak commented on #742
You can only list pictures only from product entity: /odata/product('ID')

[2020-01-08 11:22] KrzysztofPajak commented on #742
If you need get access to pictures entity, please try this:
http://docs.grandnode.com/operations-with-pictures

[2020-01-08 11:36] rezabashiri commented on #742
I mean how to have list of products with their pictures ?
it could be helped to have them separately

[2020-01-08 11:42] KrzysztofPajak commented on #742
Product entity should contains information about pictures.

[2020-01-08 11:44] rezabashiri commented on #742
without expand query ? in default it has all data?

[2020-01-08 11:49] rezabashiri commented on #742
this is what /odata/product?$filter=Categories/any(c:c/CategoryId eq '5e158b566bd67f2ef83efd08') responsed to me !
`{
    "@odata.context": "http://localhost:16592/odata/$metadata#Product",
    "value": [`

[2020-01-08 12:10] KrzysztofPajak commented on #742
Please check on beta version 4.60

[2020-01-08 12:16] rezabashiri commented on #742
these are branches on git
`

origin/HEAD -> origin/develop                                                                                                                                                                                                     origin/Release-4.00

[2020-01-08 13:01] rezabashiri commented on #742
it work correctly but what about my first question ? to have pictures of a product without extra fetch ?
now just pictureId exists in productDetail

[2020-01-08 13:44] PatrykPorabik commented on #738
In my opinion, advanced cache customization should be done on end user store. Each bigger store, that would rely on i.e Redis, probably will have own scenario of ideal caching. Platform should deliver the most basic and extendable configuration.

[2020-01-08 13:47] rezabashiri opened #743 "fetch all pictures of a product without extra fetch"
need to have pictures of products without extra fetch , there is pictureId in product json but what about picture data

[2020-01-08 14:42] Leonardo-Ferreira commented on #738
How exactly would that customisation happen?

I agree that the platform should be extensible, but I don't think we should deliver only the most basic configuration. I think quite the opposite. I believe we should deliver the most complete and configurable solution possible, in a way that no one would feel the need to extend it. I know that is not possible, but we should aim for it anyway, leaving

[2020-01-08 14:56] #742 closed

[2020-01-08 14:57] KrzysztofPajak commented on #743
You can extend API by plugin, more info you can find here: http://docs.grandnode.com/how-to-extend-web-api-with-plugin

[2020-01-08 14:57] #743 closed

[2020-01-11 13:00] rezabashiri opened #744 "\Grand.Data\Grand.Data.csproj' does not exist. Grand.Plugin.Api.Extended"
While i trying to build Grand.Plugin.Api.Extended	 i've got Grand.Data.csproj does not exist error

[2020-01-11 13:39] PatrykPorabik commented on #744
Hi,
It’s caused by a fact that we’ve removed Grand.Data project. We’ve moved it to Grand.Core project, you can always check the commit with that changes.

[2020-01-11 13:51] rezabashiri commented on #744
Yes I got it , but i cant find the repository of gran.plugin.api.extended to clone newset version

[2020-01-11 14:12] rezabashiri opened #745 "Document is weak and outdated"
There is some inconsistencies at documents like you mentioned expand query in documents but it couldnt be used by odata and mongodb Or there is no any document about how to use Web.Api.Extend plugin !!!

I'm really intrested in grandnode but the i think its child yet and its not proper to use it as primary shop

[2020-01-13 10:21] KrzysztofPajak commented on #745
This kind of questions please post on our forums https://grandnode.com/boards
GitHub is issued for development work items.

[2020-01-13 10:21] #745 closed

[2020-01-13 10:21] #744 closed

[2020-01-13 16:07] callmejm opened #746 "Low stock activity Unpublish"
In Admin Backend > Catalog > Product > Inventory > Low stock activity

I have set
![image](https://user-images.githubusercontent.com/6957533/72271372-b97e2100-3661-11ea-98ce-e7eb730f4a1b.png)

Product should Unpublish in home page , but it still showing , so what exactly is Unpublish mean at here ? or I miss out any setting

[2020-01-14 06:46] PatrykPorabik commented on #746
Have you reduced the stock quantity manually in admin panel? Are you able to provide step by step instruction how to simulate this issue? I'm not able to reproduce it on our demo.

[2020-01-14 06:47] #746 closed

[2020-01-14 14:28] Leonardo-Ferreira commented on #345
Can you provide further details on this one? Will the user create such accounts himself? if not, who will? How will they be managed? Can these be deleted?

Is this a scenario where a parent will create accounts for their family?

[2020-01-15 02:19] callmejm commented on #746
@PatrykPorabik Hi ,thanks for reply, yes I reduce the stock quantity manually in admin panel, so you suggest i set quantity to 1, and checkout as a new order for testing ?

[2020-01-15 06:31] PatrykPorabik commented on #746
Exactly.

[2020-01-20 07:27] rezabashiri opened #749 "Order API"
We have been making android app based on grand node and we read almost all grandnode document but i could not find any order api then we found  api extend plugin but im not sure is that the case or not because there arent any document .
How we have to order through API?

[2020-01-20 08:28] rezabashiri opened #750 "grandnode extend api plugin doesnt visible on plugin list"
I have added grandnode.extend,api plugin project to mine and build solution according to youre documents  but when i refresh plugin list at the admin panel there is no any none installed plugins ih there .

So what is the problem?

[2020-01-20 08:39] PatrykPorabik commented on #750
It's not related with the project issues. Problems with plugins please post on our community forum.

[2020-01-20 08:39] #750 closed

[2020-01-20 13:09] alihbk opened #751 "Login From Api"
how to login customer by UserName and Password from webApi?
I did not find it in the document

[2020-01-20 14:26] dborovsky opened #752 "Refactor CustomerController"
I am now writting tests for custommer controller. Controller is more than 1500 lines. There is a lot of different logic:

registration,
authorization
taxes and etc.

I can't undestand why we have one big controller. What do you think if we will exlude this logic from this and add to another controller or files of project?

[2020-01-20 14:39] dborovsky commented on #736
@TTomu  I can do it. Is still actual?

[2020-01-21 06:06] TTomu commented on #736
@dborovsky, sure it is still open.

[2020-01-21 06:54] PatrykPorabik commented on #751
Operations on customer are listed in [our docs here.](http://docs.grandnode.com/operations-with-customers).

If you want to have different features, you should develop it on your own.

[2020-01-21 06:54] #751 closed

[2020-01-21 06:56] PatrykPorabik commented on #749
As you can see in the OrderController.cs file, we implemented only the GET request, just to show the example how it can be extended.

If you want to have different requests, you should develop it on your own.

[2020-01-21 06:56] #749 closed

[2020-01-21 07:03] PatrykPorabik commented on #737
Bids can be deleted and view from the "Bids" tab in admin panel, as on the screenshot below:
![image](https://user-images.githubusercontent.com/16773025/72782611-80771b00-3c24-11ea-968d-3b613007429b.png)

In the Activity Log, you will also have information about new bid:
![image](https://user-images.githubusercontent.com/16773025/72782592-6c331e00-3c24-11ea-940a-5f4d53d76710.png)

Is not enough fo

[2020-01-21 07:06] PatrykPorabik commented on #736
@dborovsky I would rather check this issue #735 . As GrandNode is multi vendor (Multi seller) e-commerce platform, it can be a great feature. This task with base currency may be problematic and we suppose that it can bring many different problems.

[2020-01-21 07:14] PatrykPorabik opened #753 "Activity log - Make links instead of text in log message"
Activity log - Make links instead of text in log message
![image](https://user-images.githubusercontent.com/16773025/72783109-e9ab5e00-3c25-11ea-9378-c38134176985.png)

[2020-01-22 11:50] #605 closed

[2020-01-22 17:40] rezabashiri opened #754 "loginvalidator.cs rules return unvalidated for customers"
in validators\common\loginvalidator.cs when api need to get token and validate a customer it through RuleFor rules and because you check :
` RuleFor(x => x).MustAsync(async (x, context) =>
            {
                if (!string.IsNullOrEmpty(x.Email))
                {
                    var userapi = await userApiService.GetUserByEmail(x.Email.ToLowerInvariant());
                    if (user

[2020-01-22 18:40] PatrykPorabik commented on #754
GrandNode API was developed as an admin API. If you want to use it, just create an API user in Admin panel. If you want to create an API for users, you need to develop it.

[2020-01-22 18:40] #754 closed

[2020-01-23 09:48] rezabashiri commented on #754
may i be as contributor to help development phases on grandnode?

[2020-01-23 10:46] dborovsky commented on #754
Sure.

[2020-01-23 18:38] #79 closed

[2020-01-23 18:39] #4 closed

[2020-01-23 18:54] #736 closed

[2020-01-23 18:54] #735 closed

[2020-01-24 19:33] #752 closed

[2020-01-27 18:15] KrzysztofPajak opened #756 "Memory cache / distributed cache"
Separating memorycache and distributed cache - which data and where should be store

[2020-01-27 18:21] KrzysztofPajak commented on #756
In memory cache should be store (data that is changing seldom):
1. Settings
2. Resource string
3. Languages/Currencies/Countries/Measure/Stores/Acl/Widgets/

[2020-01-27 18:33] KrzysztofPajak commented on #756
Is in the admin panel, data should be comes from cache?
What about API?

[2020-01-28 11:49] dborovsky commented on #734
I would like to do this feature

[2020-01-31 07:32] dborovsky commented on #734
@TTomu
![1](https://user-images.githubusercontent.com/3728303/73520416-a5357480-4414-11ea-94ed-521e021ea6cd.png)

Do you mean add in this template like:
**reply to:** {{AskQuestion.Email}} <br />

[2020-01-31 07:49] TTomu commented on #734
@dborovsky I mean below field
![image](https://user-images.githubusercontent.com/16773048/73521565-9a73e300-4406-11ea-81e5-9fb684467317.png)

[2020-02-03 14:01] PatrykPorabik opened #760 "Get Product API (Store data is missing)"
"In Get Product API we noticed that Stores information is missing, Which store have which product. In your web products are filtering according to their stores, but in your Get Product API, store information is missing. Store information is present in database but in API store information is missing."

Source: [https://grandnode.com/boards/topic/5e37ff22f8b3c32e8848976b/get-product-api-some-data-i

[2020-02-03 18:43] #708 closed

[2020-02-03 18:45] Leonardo-Ferreira commented on #756
you should check #738

[2020-02-03 18:47] Leonardo-Ferreira commented on #756
you will also need a mechanism to notify other nodes that the in memory cache value has changed on a given node. This can be accomplished using the redis pub/sub that has been made available since #721

[2020-02-03 18:48] Leonardo-Ferreira commented on #756
You should also cache data used by the middleware, that is fetch for every single request.

[2020-02-03 19:00] KrzysztofPajak commented on #756
@Leonardo-Ferreira
But what do you think about store some data in redis cache, which it change quite often (e.g. products - inventory, availability)
Maybe this way will be good?

[2020-02-03 19:08] KrzysztofPajak commented on #756
@Leonardo-Ferreira

It's good way, some code has been implemented in this way, please check this:
https://github.com/grandnode/grandnode/blob/0a96548ea9cb7118f7f4f99d01bbbb0e2643c684/Grand.Services/Directory/CurrencyService.cs#L140

or maybe you have another idea?

[2020-02-04 00:06] Leonardo-Ferreira commented on #756
Ask yourself: how many times will that cache be read before being replaced/expired?

Caching is about reading the same thing over and over again. The higher the "hit rate" (asking for an information that **is** there) the better.  In my opinion, if the number above is smaller than 5, it should only be cached if it's a very hard info to assemble (eg: sales report).

As I mentioned on several issues

[2020-02-05 10:26] PatrykPorabik commented on #709
It has been fixed. Changes will be visible in the newest version 4.60.

[2020-02-05 10:26] #709 closed

[2020-02-05 10:48] #53 closed

[2020-02-05 10:55] #54 closed

[2020-02-05 10:55] #37 closed

[2020-02-05 10:56] PatrykPorabik commented on #126
It can be customized with generic attributes.

[2020-02-05 10:56] #126 closed

[2020-02-05 10:57] PatrykPorabik commented on #121
It can be customized by topics and different topic templates.

[2020-02-05 10:57] #121 closed

[2020-02-05 10:57] #129 closed

[2020-02-05 10:57] #130 closed

[2020-02-05 10:57] #36 closed

[2020-02-05 11:13] #111 closed

[2020-02-05 11:20] PatrykPorabik commented on #88
It can be extended with Roslyn and DotLiquid.

[2020-02-05 11:20] #88 closed

[2020-02-05 11:22] PatrykPorabik commented on #243
Added in newest version - Commission for vendor.

[2020-02-05 11:22] #243 closed

[2020-02-05 11:24] #186 closed

[2020-02-05 11:26] #179 closed

[2020-02-05 11:29] #125 closed

[2020-02-05 11:29] #137 closed

[2020-02-05 11:35] PatrykPorabik commented on #344
It can be done with external plugin.

[2020-02-05 11:35] #344 closed

[2020-02-05 11:42] #261 closed

[2020-02-05 11:42] #317 closed

[2020-02-05 11:47] #669 closed

[2020-02-05 13:06] dborovsky commented on #760
I would like to help with this task. Ok?

[2020-02-06 11:08] TTomu opened #761 "Fix date for discount"
'20% order total' discount during installation create past end date (1/1/2020).

[2020-02-06 11:28] #761 closed

[2020-02-11 02:13] Leonardo-Ferreira commented on #756
agree @KrzysztofPajak?

[2020-02-11 02:16] Leonardo-Ferreira opened #762 "Do we a performance issue?"
When I'm running on my local machine, I find the performance of the site "lacking" when I have redis cache on and I simulate multiple users concurrently.

Do we have actual field data to compare and contrast?

[2020-02-11 07:59] KrzysztofPajak commented on #756
@Leonardo-Ferreira I agree!
We will consider remove distributed redis cache and implement only redis pub/sub (or rabbitmq), maybe this way will be the best solution!
Redis pub/sub will be used only to remove cache key when the key is deleted on another server.

[2020-02-11 08:26] #385 closed

[2020-02-12 06:24] dborovsky opened #763 "Use swagger to testing web api."
I think  testing web api methods will  be more comfortable and easy use with swagger.

[2020-02-12 23:37] Leonardo-Ferreira commented on #763
That is a good point. How are the test being conducted now?

[2020-02-13 12:32] dborovsky commented on #763
Now we can only test use tools as postman or another aditional tools. With swagger we don't need aditional tools. You will open just link in browser and test api.

Example swagger https://petstore.swagger.io/

[2020-02-13 14:25] PatrykPorabik commented on #763
Thanks for suggestion and discussion. We can think about it in the newest release. We don't have final roadmap yet for the 4.70 version.

[2020-02-13 14:26] PatrykPorabik commented on #762
What do you mean by multiple users concurrently? What's the approx. number of users?

[2020-02-13 18:40] Leonardo-Ferreira commented on #762
Currently I use Fiddler to issue 5 concurrent request, each simulating a unregistered user accessing the home page. These take around 7 sec to be completed. (of course the request happen after the application is warmed-up and the cache is already in place, aka: no hits on the database)

[2020-02-14 12:52] #164 closed

[2020-02-14 12:55] PatrykPorabik commented on #762
To be honest, we've removed Redis today. You can download the develop branch and check the newest approach to caching.

[2020-02-14 13:35] PatrykPorabik opened #764 "Delete specification attributes cache after saving product"
Delete specification attributes cache after saving product. Currently if we delete product specification attribute in admin panel, it still be visible on product page, until we clear memory cache manually.

[2020-02-19 09:53] PatrykPorabik opened #766 "Extend the sitemap functionality - images"
Extend the sitemap functionality - images

[2020-02-19 20:41] dborovsky commented on #760
Do you mean create separate plugin?

[2020-02-20 11:48] PatrykPorabik opened #767 "Add possibility to review courses"
Add possibility to review courses

[2020-02-22 05:53] dborovsky commented on #767
I can help you, but need more information. How review courses?

[2020-02-24 06:53] PatrykPorabik commented on #767
It's simple. In the same way like product reviews or vendor reviews. But after I've added this task, I've realized that this feature may has no sense, because courses will be mostly used with products (paid access to course). So out of the box we can use Product reviews as a course review, In almost every scenario, product = course. So for now, I suppose it should be on hold task.

[2020-02-24 11:46] dborovsky commented on #767
@PatrykPorabik  all clear. Than which tasks are now important? What can I do?

[2020-02-24 14:06] #704 closed

[2020-02-25 09:26] PatrykPorabik opened #769 "Set SeName as inactive when you remove it from Search Engine Friendly Name"
Set SeName as inactive when you remove it from Search Engine Friendly Name

[2020-02-28 13:20] leeolevis opened #771 "Questions about shopping and payment"
hi sir, i want to ask two questions

1.How to temporarily turn off the shopping function

2. How to pay after the shopping process is completed
(That is, the order is successfully sent to the background, and the payment is confirmed by other methods)

[2020-02-28 13:52] KrzysztofPajak commented on #771
Hi,
Your issue is not related with code, please send question on our board [https://grandnode.com/boards](url)

[2020-02-28 13:52] #771 closed

[2020-02-29 03:17] leeolevis commented on #771
ok tks
I opened the broad correctly. The link of the link you gave is a bit wrong. It can be corrected for the convenience of others.

[2020-03-02 08:19] KrzysztofPajak commented on #771
Fixed :)

[2020-03-03 11:10] #764 closed

[2020-03-03 11:14] PatrykPorabik commented on #693
Unfortunately it's not possible, due to DotLiquid usage. TinyMCE will make a mailing creation harder, due to tokens and Liquid markup usage.

[2020-03-03 11:14] #693 closed

[2020-03-03 11:15] PatrykPorabik commented on #670
I think it's solved after last commit. Look at it here: https://github.com/grandnode/grandnode/commit/21a56f59a2dfba4f05647297574098a5c47239ab

[2020-03-03 11:15] #670 closed

[2020-03-04 02:23] dborovsky commented on #766
Guys, I will do it... If will have any question, will ask you.

[2020-03-05 10:27] #620 closed

[2020-03-05 12:07] PatrykPorabik opened #773 "Simplify the cart and checkout process"
Let's simplify the cart and checkout process. Remove all distractors and leave only important things on the screen.

[2020-03-06 05:29] dborovsky commented on #766
@PatrykPorabik  How can I find settings sitemap in admin panel?

[2020-03-06 07:24] PatrykPorabik opened #774 "Include blog posts in sitemap"
Include blog posts in sitemap

[2020-03-06 13:10] PatrykPorabik commented on #766
@dborovsky In my opinion it should be always included in sitemap. Regardless of any kind of setting.

[2020-03-06 13:41] PatrykPorabik opened #775 "Auto update the order totals after order edit"
Auto update the order totals after order edit

[2020-03-10 03:30] teeshter commented on #414
I would like to take this one.

[2020-03-10 03:30] teeshter commented on #466
I would like to take this one.

[2020-03-10 08:19] PatrykPorabik commented on #414
Hi,

Sure, take your time.

[2020-03-10 08:20] PatrykPorabik commented on #466
Hi,
Sure, if you want take your time, but please send us a brief description, how you want to develop this, ok? Thanks!

[2020-03-15 11:48] marmarKamel opened #776 "4.30 . Had a problem in google anayltics commerical configuration"
i want to activate google anayltics commerical widget plugin in Grand node version 4.30
i already added configuration but still not working

i already added google analytics in main store configuration and it works well but we added commerical plugin it still not work

need help

[2020-03-15 17:46] PatrykPorabik commented on #776
Hi,
The question is not related with the code, please post it on our community forum here: https://grandnode.com/boards

[2020-03-15 17:46] #776 closed

[2020-03-17 01:49] dborovsky commented on #766
![Screenshot_1](https://user-images.githubusercontent.com/3728303/76813943-89423280-680a-11ea-8e59-7e7ee3439b79.png)

This is current sitemap. Which images must be include in sitemap?

[2020-03-17 11:12] PatrykPorabik commented on #766
Current sitemap contains also products, blog posts if you set them, so you've provided only small part of sitemap. In my opinion things that you've missed are the most important in the store - products and blog and images related with that parts of store. Basically, answer for your question is probably in the first paragraph of sitemap image description in Google Docs. First of all you should know

[2020-03-18 13:36] TTomu opened #777 "Export/import newsletter subscribers"
**Describe the bug**
Export button suggest CSV format, while is TXT. This make unable to import this same file, as import expects CSV.

**Expected behavior**
Made export file this same extension format, which may be reused by import action.

[2020-03-19 07:57] PatrykPorabik opened #778 "Update Bootstrap to Bootstrap 5"
Task for late spring, when Bootstrap will release the Bootstrap 5 version

[2020-03-19 11:00] PatrykPorabik opened #779 "Fix the "Checkout" button in flyout cart"
Fix the "Checkout" button in flyout cart

[2020-03-19 11:01] #779 closed

[2020-03-19 12:49] #774 closed

[2020-03-19 12:50] #359 closed

[2020-03-19 14:19] #678 closed

[2020-03-20 12:41] PatrykPorabik opened #780 "Scheduled tasks for customer reminders (tasks which contain product pictures) don't work"
Scheduled tasks for customer reminders (tasks which contain product pictures) don't work

[2020-03-20 13:30] dborovsky commented on #766
@PatrykPorabik  thank you.  I was sick this days. Now I feel like superman and  investigating now.

[2020-03-20 14:21] #780 closed

[2020-03-21 04:09] dborovsky commented on #766
@PatrykPorabik Thanks. I think better solution for images to generate separate sitemaps xml files.

Now I started with images for products.
For example will be created following files:
sitemap-images-1.xml
sitemap-images-2.xml
and etc
where 1, 2 ... product id.

What do you think?

[2020-03-23 08:11] #414 closed

[2020-03-23 09:22] TTomu commented on #92
Delete selected implementation #f06fee3

[2020-03-23 09:42] #92 closed

[2020-03-25 14:01] PatrykPorabik commented on #766
But what's the purpose of creating new sitemap files, if scenario presented in docs assumes that you only extend the current flow with new field. I don't think so creating a new file is efficient in that case.

[2020-03-26 11:59] PatrykPorabik opened #783 "Notify when available button dissapear when product attributes are set"
**Describe the bug**
Notify when available button dissapear when product attributes are set

**To Reproduce**
Steps to reproduce the behavior:
1. Go to demo product adidas Consortium Campus 80s Running Shoes
2. Click Inventory tab in Admin panel
3. Check the box "Allow back in stock subcription" and set stock quantity to 0
4. On a product page button "Notify when available" disappear when page is

[2020-03-26 21:51] PatrykPorabik opened #784 "Specification attributes options display order doesn't work"
**Describe the bug**
Specification attributes options display order doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin panel -> Catalog -> Attributes -> Specification attributes'
2. Add new attribute
3. Add new options
4. Provided display order doesn't work. Attributes will be listed in order of creation, instead of display order.

[2020-03-27 09:27] TTomu opened #785 "Change ManageSiteMap"
ManageSiteMap should become as a task

[2020-03-31 10:12] #785 closed

[2020-03-31 10:24] #783 closed

[2020-04-01 06:45] PatrykPorabik opened #786 "Impossible to save course if we have multi language configuration"
**Describe the bug**
It's impossible to save course if we provide values in both languages. After pressing the Save changes button we receive following error: AutoMapperMappingException: Missing type map configuration or unsupported mapping.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin panel' -> Content management -> Courses
2. Click on Add new course
3. Set values for Englis

[2020-04-01 11:20] #786 closed

[2020-04-02 05:53] PatrykPorabik opened #787 "BrainTree Onepage checkout issue"
Sample Report
1. Configure Braintree as Payment Gateway (Sandbox Mode, no 3D Secure)
2. Use Multipage Checkout
2. In Checkout we get an 500 Server Error

Description
It seems to be that there is a bug in the Multi Page Checkout with Braintree. When i select Braintree Credit Card Payment in the checkout, i get the following error : Incorrect Content-Type

I inspected the Code and saw that in the Co

[2020-04-02 14:47] OAlekhina commented on #582
@TTomu @PatrykPorabik  could you please describe the desired behaviour?
![image](https://user-images.githubusercontent.com/56073273/78262986-a876da80-7501-11ea-806f-192220fe47ee.png)

When the user clicks on Re-order button and the product is not available, should there be a pop-up with some message like 'Sorry, the product is not available anymore' and the user should stay at the order page?
Or s

[2020-04-02 15:09] OAlekhina commented on #582
Hope this will be OK
![image](https://user-images.githubusercontent.com/56073273/78265454-bed26580-7504-11ea-82e6-939888104e2f.png)

[2020-04-02 20:26] gelinski opened #788 "Migration tool nopCommerce > grandnode"
Do someone here know if there is some tool that can migrate the nopCommerce application to grandnode? I found [this link](https://grandnode.com/mssql-to-mongodb-migration-tool), but I can't "buy" because it returns for me "Product not published".

The both platforms versions are the latest (grandnode 4.60 and nopCommerce 4.20).

Best regards.

[2020-04-02 22:40] gelinski opened #789 "Facebook integration failure using nginx"
I deployed a new grandnode application using docker and nginx as load balancer, everything is working fine but the Facebook Login. I deployed in two different scenarios:

* Using the Google Cloud with nginx as load balancer, I got this error:
![image](https://user-images.githubusercontent.com/20301995/78306182-21356100-7519-11ea-87c2-48a5c3eef071.png)

* Using Azure as cloud provider, the problem

[2020-04-03 05:35] PatrykPorabik commented on #789
Hi,
We will investigate it, Instead of "message" provided here, do you have something in the System -> Log tab?

[2020-04-03 06:09] TTomu commented on #582
@OAlekhina soution provided at the screen looking good.

[2020-04-03 06:09] PatrykPorabik commented on #788
Hello.
It's not possible to get this plugin because the architecture of GrandNode and nopCommerce has changed a lot since the time when we've made that plugin.

However there are still few possibilities to achieve that:
- API
- Manual imports

If you want, reach us at support@grandnode.com, we can talk about the most efficient way for you.

[2020-04-03 11:05] gelinski commented on #788
Ok, I'll evalute here and will contact you soon, because we have just one customer using nopCommerce and the others using GrandNode, and we really want to join this unique nop customer to GN team.

Tks for comprehension :-)

[2020-04-03 11:05] #788 closed

[2020-04-03 11:26] gelinski commented on #789
The returned URL is:
https://{domain}/fb-signin-failed?error_code=&error_message=#_=_

And nothing is recorded at GrandNode Log.

[2020-04-03 12:51] #787 closed

[2020-04-06 06:29] #766 closed

[2020-04-06 12:20] PatrykPorabik commented on #789
@gelinski Can you check the System -> System information and check if you have https / true values in scheme / is http values?

[2020-04-06 12:28] gelinski commented on #789
hmmm maybe it can be the problem, this value is set to false, how to change this value at GN?

[2020-04-06 12:40] PatrykPorabik commented on #789
It's automatically set by environment. If you have http / false, it means that there is a problem with server SSL configuration.

[2020-04-06 13:10] PatrykPorabik opened #791 "Blog categories counter doesn't update if post is unpublished"
**Describe the bug**
Blog categories counter doesn't update if post is unpublished

**To Reproduce**
Steps to reproduce the behavior:
1. Create blog post, save changes and change the start date to future one.
2. Assign post to category
3. On frontpage blog category will still count this post even if it's not visible

[2020-04-08 07:52] TTomu opened #792 "Attachments at knowledgebase"
Add possibility to upload attachments to knowledgebase.

[2020-04-09 07:18] KrzysztofPajak opened #793 "Extend Web API"

[2020-04-09 12:27] gelinski commented on #789
Well, I tried to check where did I failed at configuration. Below is my nginx.conf that supplies this application:

[homol.mydomain.com.br.txt](https://github.com/grandnode/grandnode/files/4456089/homol.mydomain.com.br.txt)

Can someone tell me where is the error with this configuration?

[2020-04-11 17:09] lfontaine974 commented on #579
Hi,

For this, you could modify Area/Admin/View/Order/List.cshtml like this.
Only give read view, because in an order with multiple vendors, each vendor see only their products.

                    @if (!Model.IsLoggedInAsVendor)
                    {
                        //a vendor does not have access to this functionality
                        <text>{
                        field: "Shipp

[2020-04-13 03:26] pati1892 opened #794 "Additional shipping charge on pickup"
**Describe the bug**
If I set Additional shipping charge it is added to in store pickup as well

**To Reproduce**
Steps to reproduce the behavior:
1. Add Additional shipping charge to product
2. Add Product to shopping cart
3. Select Pickup
4. Additional shipping charge is not ignored

**Expected behavior**
Additional shipping charge is ignored

**Additional context**
Version 4.60

[2020-04-14 05:50] PatrykPorabik opened #795 "Update instructions on Google Analytics features"
Update instructions on Google Analytics features

[2020-04-14 13:09] PatrykPorabik commented on #794
Hi,

In fact it's expected behavior of this feature. It's additional cost, charged independently from shipping method. It doesn't matter if it's pickup point or not.

[2020-04-14 13:09] #794 closed

[2020-04-17 12:41] PatrykPorabik opened #796 "Add information about cancelled order for vendor"
Add information about cancelled order for vendor

[2020-04-17 14:10] kdlslyv opened #797 "StoreClosed InvalidOperationException"
**Describe the bug**

When accessing a closed store, the following exception is thrown:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Close the store
2. Logout
3. Navigate to start page
4. See error

**Expected behavior**
StoreClosed page is shown

**Additional context**

- Probably caused by `CheckAccessClosedStoreAttribute.cs`
- Line 142, add IUrlHelperFactory to the constructor a

[2020-04-17 22:10] VandenkerckhoveJesse commented on #753
Hello @PatrykPorabik ,

I am trying to tackle this issue but I am unsure of what to do next.

For example, when a product gets changed CustomerAcitvityService->InsertActivity gets called, the text you see in the brackets are added in the end in a params collection, this you can see in the next image.
![gitlab1](https://user-images.githubusercontent.com/47661326/79617299-6f488800-8107-11ea-851f-9e4

[2020-04-18 09:46] codetrove-development opened #798 "Question"
Hi,

I can't work out if grandnode would support my requirement.

I would like to make a market place similar to amazon - where I own the overall domain, call it compay A.
Other companies can have their own store ie companyB.companyA.com, which I believe you support. However, my question is does it support product matching like amazon.

Example: https://www.amazon.co.uk/Greatideal-Adjustable-Envir

[2020-04-20 05:31] KrzysztofPajak commented on #798
Hi @codetrove-development
The question is not related with the code, please post it on our community forum here: https://grandnode.com/boards

Best Regards
Krzysztof

[2020-04-20 05:31] #798 closed

[2020-04-20 06:31] KrzysztofPajak commented on #797
Thanks, fixed!

Best Regards
Krzysztof

[2020-04-20 06:31] #797 closed

[2020-04-20 09:46] pati1892 opened #799 "Sitemap doesnt work"
**Describe the bug**
Altough the Sitemap is Enabled (under Admin/Setting/AllSettings; commonsettings.sitemapenabled = True), the Sitemap is not displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Admin/Setting/AllSettings
2. Select 'commonsettings.sitemapenabled'
3. Set Value to true, and save
4. clear cache
5. Got to /sitemap and you get redirected to Homepage

**Expected behavior**

[2020-04-20 10:52] PatrykPorabik commented on #799
Hi,
In fact it has been fixed after beta of 4.60. As you can see in the develop branch it's annotation was added to sitemapxml :)

[2020-04-20 10:52] #799 closed

[2020-04-20 13:09] primalfear opened #800 "Enhanced Forum Plugin"
Hi GrandNode team,

I am busy evaluating at using GrandNode as a base for an up coming project and currently investigation extensibility specifically.

One of the things we are looking at is to enhance the forums a little bit, so that we can support some of the following:
- Private Forums / Topics / threads / discussions
   By this i mean users, need to be logged in to via the forums.
   Need to b

[2020-04-21 07:44] PatrykPorabik commented on #800
Hi,

Yes, plugin system is the correct way to achieve your goals. If I were you I would use the Misc type or Widget. However, I suppose Misc type is better. In the case of tips, I would base this plugin on customer roles. You can disable access to the forum with specified customer roles, then prepare a form or something to request access to it. Maybe in this way? Check how the ACL work in GrandNod

[2020-04-21 08:48] PatrykPorabik commented on #789
Sorry for delay. I'm not a specialist in nginx configuration. But maybe you will use our solution implemented in GrandNode to handle Let's encrypt certificate and just place it in the SSL folder of nginx without Certbot? Mostly I use this tool: https://zerossl.com/free-ssl/#crt

The nginx config would be much simplier I guess.

[2020-04-21 10:48] #795 closed

[2020-04-21 10:49] #796 closed

[2020-04-22 06:34] #582 closed

[2020-04-22 08:47] PatrykPorabik opened #801 "Implement captcha on forgot password page"
Implement captcha on forgot password page

[2020-04-22 09:30] PatrykPorabik opened #802 "Remove deprecated data-vocabulary.org from the project"
Remove deprecated data-vocabulary.org from the project

[2020-04-22 09:34] #802 closed

[2020-04-23 18:53] PatrykPorabik opened #803 "Fix the namespace in Facebook Pixel plugin"
Fix the namespace in Facebook Pixel plugin

[2020-04-24 03:14] teeshter commented on #466
For a product, I was thinking the customer can search for a question to see if any similar questions have been asked. Then once the question or answer gets posted, the admin has the ability to review it. Do you have anything else in mind?

[2020-04-24 05:17] #803 closed

[2020-04-24 15:33] primalfear commented on #800
Awesome... Thanks for the pointers.
The documentation doesn't mention the "Misc" Type, but i will dig about and see what I can find.

Am going to close this issue. :)

[2020-04-24 15:33] #800 closed

[2020-04-28 12:38] DKucia opened #804 "Add AffiliateService Tests"
Add tests to AffiliateService and AffiliateExtensions

[2020-04-29 07:53] #801 closed

[2020-04-29 08:49] TTomu opened #806 "Checkout pickup in store & shippment at admin panel"
**Describe the bug**
Adding shipment should be suspended at admin panel if customer will check pickup in store option during checkout.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to checkout
2. Click on pick up in store
3. Complete order
4. Go to admin panel -> orders -> order details
5. Shipment is possible to be added

**Expected behavior**
If customer decide to pick up in store ite

[2020-04-29 09:25] PatrykPorabik opened #807 "iTextSharp became EOL, update it to the core project iText7"
iTextSharp became EOLa, update it to core project iText7

[2020-04-29 13:58] DKucia opened #808 "Add test for Cookie/Api AuthenticationService"
Add test for CookieAuthenticationService ,ApiAuthenticationService

[2020-04-29 17:39] #808 closed

[2020-04-30 07:16] TTomu opened #810 "If username is enabled, at customer list fiels are always empty"
**Describe the bug**
If username is enabled, at customer list fiels are always empty, even if username is set.

[2020-04-30 07:39] KrzysztofPajak commented on #810
Fix - https://github.com/grandnode/grandnode/commit/2ca14936f4f52a841c08fea670d64392ef61fb83

[2020-04-30 07:39] #810 closed

[2020-04-30 10:50] DKucia opened #811 "Add WidgetService tests"
Add tests for WidgetService  and WidgetExtensions

[2020-05-03 17:57] wwrighter commented on #806
Purely a hypothetical, but what happens in the case where a customer selects this? Calls or emails into the company to say, "id rather have it shipped, cant make it in to pickup".

So store owner processes a charge manually for shipping and wants to ship the order with a note about the change and automatically assign a courier tracking number for the customers order?

By removing the option to shi

[2020-05-04 05:45] PatrykPorabik opened #814 "Add possibility to add product kits (bundles) to existing orders"
Add possibility to add product kits (bundles) to existing orders

[2020-05-04 08:35] TTomu opened #815 "Return Request for digital items"
Available Return Request or simillar for digital items - in case of reciving wrong item or if any issue is related to digital item.

[2020-05-04 08:47] TTomu commented on #806
@wwrighter thank you for scenario, already changed lables. Maybe adding alert for shipment will prvend by accidentally clicking shipment. Will discuss feature.

[2020-05-04 09:23] TTomu opened #816 "Low stock report for bundle product"
**Describe the bug**
Low stock report should include bundle products as well.
Currently only mail is send to admin, but reports not show anything.

[2020-05-04 09:43] DKucia opened #817 "Add BlogServiceTests"
Add test for BlogService , BlogExtensions

[2020-05-04 12:58] PatrykPorabik opened #819 "Add message template for payment refund"
Add notification for user when the payment has been refunded

[2020-05-05 12:13] TTomu opened #820 "Staff copy product not assign item to the store"
**Describe the bug**
If staff adding new product, and making copy of new created item, copy will be assign to all stores, while "original" item was only for specific store.

[2020-05-05 12:33] DKucia opened #821 "Add CoursesServiceTests"
Add tests for CoursesService

[2020-05-06 07:44] #821 closed

[2020-05-06 07:47] #817 closed

[2020-05-06 08:03] PatrykPorabik opened #823 "Possibility to filter search engine friendly names by active/inactive"
Possibility to filter search engine friendly names by active/inactive

[2020-05-06 12:08] DKucia opened #824 "Add CategoryServiceTests"
Create tests for CategoryService

[2020-05-06 13:10] TTomu opened #826 "Allow staff to import manufacturers from excel"
Staff may add manufacturers one by one, should get option to import from excel as well.

[2020-05-07 06:00] PatrykPorabik opened #827 "Push notifications doesn't work on Safari"
Source: [https://grandnode.com/boards/topic/5eb39240bd5c912524664a23/push-notification#5eb3a3a1bd5c912524671243](https://grandnode.com/boards/topic/5eb39240bd5c912524664a23/push-notification#5eb3a3a1bd5c912524671243)

Push notifications doesn't work on Safari.

[2020-05-07 06:47] #824 closed

[2020-05-07 07:00] PatrykPorabik commented on #827
It seems that it's the local issue on customers store.

[2020-05-07 07:00] #827 closed

[2020-05-07 11:44] DKucia opened #828 "Improve GetProductOverviewHandler async iteration"
Collect tasks from loop into list ,then  use Task.WhenAll for improve performance

[2020-05-07 12:25] DKucia opened #830 "Add BackInStockSubscriptionServiceTests"
Create test for BackInStockSubscriptionService

[2020-05-07 12:59] petarvu commented on #676
We are experiencing the same issue, after we tested with the stock image from DigitalOcean. What is the solution for this? @dctremblay @PatrykPorabik

[2020-05-08 12:16] ghominejad commented on #762
What about 1000 concurrent users? what is your approach for a distributed caching solution?

Thanks

[2020-05-08 14:24] NikolaSvobodova1983 commented on #819
Hello @PatrykPorabik
Could you please tell me, how can I enable false payment method for making an order in develop mode?
![image](https://user-images.githubusercontent.com/64211725/81415062-328d1100-9148-11ea-934e-bd95272eed4e.png)
I remember previously it was possible to pay with some fake payment method, how can I enable it now?
(I tried to pay with reward points, but also failed)
Thank you.

[2020-05-10 13:19] pahamad opened #832 "Deployed on IIS and getting error "System.Private.CoreLib" dll is missing"
Deployed the application on IIS but when trying to access then getting below errors:

**FileLoadException: Could not load file or assembly 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e'.**

I verified this dll and its' already exist. See below the full details:

System.Runtime.Loader.AssemblyLoadContext.LoadFromPath(IntPtr ptrNativeAssemblyLoadContext,

[2020-05-10 15:42] pahamad commented on #832
Working now when published Framework Dependent type. But seems still need to explore for Self Content Mode deployment

[2020-05-10 15:43] #832 closed

[2020-05-11 05:58] #830 closed

[2020-05-11 05:59] #820 closed

[2020-05-11 11:09] #828 closed

[2020-05-11 11:13] PatrykPorabik commented on #676
@petarvu Do you have progressive web apps configured in your store?

[2020-05-11 11:16] petarvu commented on #676
@PatrykPorabik No PWA configured, running the stock image from DO.

[2020-05-11 11:20] PatrykPorabik commented on #676
Can you try to simulate this issue on demo?
https://demo.grandnode.com/
login: admin@yourstore.com
password: 123456

[2020-05-13 07:43] #784 closed

[2020-05-14 06:46] #811 closed

[2020-05-14 06:57] #804 closed

[2020-05-14 07:07] #816 closed

[2020-05-14 10:17] #734 closed

[2020-05-14 10:17] #737 closed

[2020-05-14 10:17] #762 closed

[2020-05-14 10:18] #738 closed

[2020-05-14 10:18] #702 closed

[2020-05-14 10:18] #773 closed

[2020-05-15 09:06] PatrykPorabik opened #833 "Limit to ACL should not apply to object grids in admin panel"
Limit to ACL should not apply to object grids in admin panel

[2020-05-15 09:50] #833 closed

[2020-05-16 00:04] TecorraDevelopment opened #834 "Question - How do you add custom validation to the create product request?"
I have created a plugin which registers IProductViewModelService to an extension class. On InsertProductModel(model) this then checks if a product already exists for the model GTIN and if so throws an error. Unfortunately I didn't realise throwing an error would actually cause it to render the exception message in the view!

I see no way of being able to return a failure to the UI without modifyin

[2020-05-17 05:25] rezabashiri opened #835 "Value cannot be null. (Parameter 'image')"
Im facing this issue frequently and its clear that the image service can not find the image in given path (it might be removed physically)

To reproduce the exception remove an image from server without using admin panel and it will be shown

 System.ArgumentNullException: Value cannot be null. (Parameter 'image')
   at Grand.Services.Media.PictureService.ApplyResize(SKBitmap image, SKEncodedImage

[2020-05-17 07:17] rezabashiri commented on #835
I have tried to figure it out and it seems problem start from the code :
`protected virtual byte[] LoadPictureFromFile(string pictureId, string mimeType)
        {
            string lastPart = GetFileExtensionFromMimeType(mimeType);
            string fileName = string.Format("{0}_0.{1}", pictureId, lastPart);
            var filePath = GetPictureLocalPath(fileName);
            if (!File.Exists(

[2020-05-17 12:02] TecorraDevelopment commented on #834
I have also found this article http://docs.grandnode.com/data-validation but it's out of date. Searching through validators in the code base I can't find any way of registering validation to the ProductModel in Areas/Admin/Controllers/ProductController without changing the controller code and adding a validation attribute

[2020-05-17 14:27] KrzysztofPajak commented on #834
@TecorraDevelopment
Sorry for documentation, next week we will update.
If you need add new rules for product validators just use IValidatorConsumer<ProductModel> and add by method AddRules (BaseGrandValidator<ProductModel> validator)

    public class GtinValidation : IValidatorConsumer<ProductModel>
    {
        public void AddRules(BaseGrandValidator<ProductModel> validator)
        {

[2020-05-17 14:56] TecorraDevelopment commented on #834
@KrzysztofPajak ah that works pefectly, thanks! Last question - Is there also an extension option for adding more properties to the productmodel or will I need to extend... a lot?

[2020-05-18 05:45] KrzysztofPajak commented on #835
Please check this commit: https://github.com/grandnode/grandnode/commit/7546d351cea36f00f8f29fada7c30938faf0b9df

[2020-05-18 05:45] #835 closed

[2020-05-18 05:46] KrzysztofPajak commented on #834
@TecorraDevelopment
Try to generic attributes

[2020-05-18 05:46] #834 closed

[2020-05-19 04:52] mane06 opened #836 "integration with SQL or MySQL is possible?"
Hello, I would like to know if there is a way to implement this ecommerce system with SQL server or MySQL or if such integration is planned at some point, In advance I appreciate this incredible contribution

[2020-05-19 05:31] PatrykPorabik commented on #836
Hi,
We don't have such plans. Our main goal was to move out from relational database engine.

[2020-05-19 05:31] #836 closed

[2020-05-19 12:48] TecorraDevelopment opened #837 "Multiple vendors per product"
Problem:
Multi vendor market places such as amazon group items by seller to avoid a wall of the same product in busy marketplaces. It's clean, concise and lets customers easily pick the cheapest deal.

Solution:
I would like vendors moved into a list per product instead of 1:1. The product would be grouped most likely by bar code, but this could be easily customised if it's done in a service metho

[2020-05-19 13:11] PatrykPorabik commented on #837
Hi, thanks for suggestion. We will consider it, when we will make a roadmap for incoming version.

[2020-05-21 13:27] PatrykPorabik opened #838 "Include knowledge base articles in sitemap"
Include knowledge base articles in sitemap

[2020-05-22 13:29] marcelowu opened #839 "headless e-commerce"
grandnode is headless e-commerce?

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions o

[2020-05-22 13:33] marcelowu opened #840 "New payment"
https://github.com/essensoft/payment
Payment 是基于 .NET Core / ASP.NET Core 开发，支持多商户的跨平台支付SDK集。简化了API调用及相关通知的处理流程。目前支持：支付宝(Alipay)、微信支付(WeChatPay)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happ

[2020-05-22 13:43] marcelowu commented on #840
Nopcommerce v3.9 plugins to grandnode is possivel :?

Brasilian Shipping
https://github.com/shpsyte/Correios

Brasilian payment
https://github.com/shpsyte/PagSeguro

[2020-05-22 13:49] KrzysztofPajak commented on #840
@marcelowu If you have source code for nopCommerce we can upgrade to Grandnode

[2020-05-22 14:04] marcelowu commented on #840
woocommerce plugins also? and what price
Brasilian Shipping and internation shipping

https://github.com/gutobenn/woocommerce-correios-1/commit/e4bdaf1270b32f6278e388bf282013944c41be61

[2020-05-23 00:33] #839 closed

[2020-05-23 16:02] #840 closed

[2020-05-24 13:57] badijm commented on #720
Hi, I'm newbie on github/open source generally, so just looking for some good first issue to resolve. Is it still available?

[2020-05-25 06:13] PatrykPorabik commented on #720
Hi,

Sure, it's available. If you want, you can take it and develop.

[2020-05-25 08:51] badijm commented on #720
I'm trynna figure out the installation process, but looks like some pics are broken. Is there any way to fix this piece of documentation. It'll make process much clearer.

https://github.com/grandnode/grandnode/wiki/Installing-GrandNode

![image](https://user-images.githubusercontent.com/22330489/82796250-e5b27580-9e7d-11ea-874f-ff73bb0bb8b6.png)

[2020-05-25 08:55] PatrykPorabik commented on #720
Max, please check this tut: [How to install GrandNode](https://grandnode.com/how-to-install-grandnode-on-linux-ubuntu-1604)

It's updated and detailed :)

[2020-05-29 04:04] marcelowu opened #841 "Shipping plugin for brazil correios"
https://github.com/nopCommerceBrasil/NopBrasil.Plugin.Shipping.Correios

https://cws2.correios.com.br/static/swagger/?url=/precoprazoservice/rs/swagger.json#!/Nacional/listaPrecosPrazos

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and con

[2020-05-29 04:20] marcelowu opened #842 "payment plugins for Brazil"
API do PicPay para .NET - SDK https://ecommerce.picpay.com/

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of a

[2020-05-29 05:21] PatrykPorabik commented on #841
How can we help with this and how is this related with GrandNode?

[2020-05-29 05:21] PatrykPorabik commented on #842
How can we help with this and how is this related with GrandNode?

[2020-05-30 02:28] #841 closed

[2020-05-30 02:28] #842 closed

[2020-06-01 13:42] #793 closed

[2020-06-05 09:28] PatrykPorabik opened #843 "Missing if statement for AllowPostVoting on forum"
Missing if statement for AllowPostVoting on forum

[2020-06-05 09:50] #843 closed

[2020-06-05 09:59] PatrykPorabik commented on #471
Return requests per vendor have been added to GrandNode 4.70

[2020-06-05 09:59] #471 closed

[2020-06-05 10:20] PatrykPorabik opened #844 "Items number on search results are not updated"
Items number on search results are not updated

[2020-06-05 13:00] PatrykPorabik opened #845 "Allow to adding labels on orders"
Allow adding labels on orders.

Labels should allow you to filter orders by them.

[2020-06-05 13:12] PatrykPorabik opened #846 "Add new report for Vendor Sale"
Add new report for Vendor Sale

[2020-06-05 13:12] PatrykPorabik opened #847 "Add new report for Most Viewed Products"
Add new report for Most Viewed Products

[2020-06-05 13:32] #844 closed

[2020-06-05 14:59] Goldenstarc opened #848 "Cant install language packs!"
**Describe the bug**
Cant install language packs

**To Reproduce**
1.Use docker image
2.Download any pack like arabic or german
3. Go to 'language'
4. Add language
2. Click on 'Import resourse'

**Expected behavior**
Import language and user can use it.

**behavior**
On version 4.4 and above :
you`ll get no error ! just every thing without language !

On version 4.3 and below
it shows different er

[2020-06-06 14:57] scharada opened #849 "Allow Entering amount of Rewards to use."
customers who do not want to spend all their rewards should be able to enter the amount to use instead of using all available points.

the ideal solution would be to make rewards a payment method and allow multiple payments on order.

[2020-06-08 07:52] PatrykPorabik opened #850 "Add possibility to admin approval to products added by the vendor"
Add possibility to admin approval to products added by the vendor

Source: [https://grandnode.com/boards/topic/5edde94deff5398334fc0f59/vendor-upload-product-activation](https://grandnode.com/boards/topic/5edde94deff5398334fc0f59/vendor-upload-product-activation)

[2020-06-08 08:21] PatrykPorabik commented on #849
Thanks for suggestion @scharada

[2020-06-08 11:06] PatrykPorabik commented on #848
Hi @Goldenstarc
Can you confirm that the problem also occurs on the latest version of GrandNode 4.70?

[2020-06-08 11:08] Goldenstarc commented on #848
sure!

[2020-06-08 11:40] PatrykPorabik commented on #848
Unfortunately, I'm not able to reproduce the issue. I've checked this feature while ago on Docker and I'm able to export/import any language pack - German, Arabic, English.

[2020-06-08 11:40] #848 closed

[2020-06-09 12:25] #23 closed

[2020-06-09 12:27] PatrykPorabik opened #851 "Advanced search doesn't include the category to result"
Advanced search doesn't include the category to result

When you search for a product inside specified category and press enter. You won't see results from that category but from the whole store.

[2020-06-09 12:35] #682 closed

[2020-06-09 12:36] #676 closed

[2020-06-09 12:36] #606 closed

[2020-06-09 12:38] #437 closed

[2020-06-12 08:18] scharada opened #852 "consider moving domain entities to a separate project"
would you consider moving all domain entities to a separate assembly ?.
in some cases, referencing. in some entities is needed without all the core project ...

[2020-06-12 08:24] scharada opened #853 "consider moving API to a separate project"
if not used, it's still loaded.
if used, it makes the web app heavier
if modifications are needed, the whole app needs to be compiled and redeployed ...
the reasons a multiple.
please consider it. it just makes sense.

[2020-06-12 08:30] scharada opened #854 "separate front end from admin"
have you though about making the front end and the admin area separate web application ?
the front end would be blazing fast and would cost much less in cloud deployment.
doing so also would allow the backend to be accessed only when needed by users who manage the sites... admins and vendors.
it would also be easier to have 2 separate areas, one for site admins and one for vendors making views and

[2020-06-12 08:37] scharada opened #855 "Add SignalR notifications to admin accounts and users "my accounts""
admins can receive realtime notifications of messages, orders (other) critical issues or activities on dashboard while connected to backed and users can receive notifications about orders, messages, all without having to go to the relative views to find out if new events happened...

[2020-06-15 06:11] #661 closed

[2020-06-15 06:12] PatrykPorabik commented on #854
Related with #496

[2020-06-15 06:12] #854 closed

[2020-06-15 06:13] PatrykPorabik commented on #496
2-Factor authentication was added In GrandNode 4.70, we are still thinking about the frontend/admin panel divide.

[2020-06-15 06:14] PatrykPorabik commented on #855
Related with #401

[2020-06-15 06:14] #855 closed

[2020-06-15 06:56] PatrykPorabik commented on #853
@scharada thanks for idea, we were thinking about that and we will for sure back to it.

[2020-06-15 06:57] PatrykPorabik commented on #852
@scharada thanks for the idea, as in the case of the separated API - we were thinking about that and we will for sure back to it.

[2020-06-15 07:19] PatrykPorabik opened #856 "When you are on 2FA enable page wrong menu item is highlighted"
When you are on 2FA enable page wrong menu item is highlighted

https://yourstore.com/customer/enable-two-factor-authorization highlights the My Courses section.

[2020-06-15 12:34] #838 closed

[2020-06-15 12:46] #856 closed

[2020-06-15 13:18] PatrykPorabik opened #857 "Add missing translation for Add order note button"
Add missing translation for Add order note button

[2020-06-15 13:21] #857 closed

[2020-06-15 13:22] #851 closed

[2020-06-15 13:30] PatrykPorabik opened #858 "Some settings seem to ignore the multi-store limitations"
Some settings seem to ignore the multi-store limitations (found on Catalog settings -> Show GTIN / Show free shipping icon)

[2020-06-15 18:49] gelinski opened #859 "Selecting bucket subdirectory on Amazon S3"
On current deployment, there is the possibility from using an Amazon S3 bucket to save media, but it is limited to the bucket root. Isn't it a good idea allowing to add to appsettings the bucket subdirectory?

[2020-06-16 05:33] PatrykPorabik commented on #859
We can consider it. Thanks for the idea.

[2020-06-16 14:07] jayakumarsharp opened #860 "Products name descriptions in multiple language support"
Please advise localization for specific product. Currently complete portal is supporting to localization.
I would like to display product details in multiple languages with default English language with additional languages

![localization](https://user-images.githubusercontent.com/14262395/84784716-b239b580-affb-11ea-993e-6b035535feff.PNG)

[2020-06-16 19:39] marcelowu opened #861 "how to add videos on Grandnode?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-17 05:36] PatrykPorabik commented on #861
Videos can be added in the TinyMCE editor with Media uploader. However, it's not a technical question, so in the future, please post this kind of questions on our community forum here: [https://grandnode.com/boards](https://grandnode.com/boards)

![image](https://user-images.githubusercontent.com/16773025/84859305-28c2cb80-b06d-11ea-9d89-54961cdac778.png)

[2020-06-17 05:36] #861 closed

[2020-06-17 05:43] #858 closed

[2020-06-17 18:42] PatrykPorabik opened #862 "Insert correct"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-17 18:43] PatrykPorabik opened #863 "Insert correct types for input tags"
Insert correct types for input tags like input type search for search bar or inputmode numeric for Qty (numeric) inputs.

[2020-06-17 18:45] #862 closed

[2020-06-18 05:54] PatrykPorabik opened #864 "Update Bootstrap in the admin panel"
Update Bootstrap in the admin panel

[2020-06-18 08:13] PatrykPorabik opened #865 "Add pattern field for zip code in the admin panel"
Add pattern field for zip code in the admin panel

[2020-06-18 10:51] #863 closed

[2020-06-18 12:01] PatrykPorabik opened #866 "Problem with mobile search trigger on mobile"
Problem with mobile search trigger on mobile - iPhone 6s - Safari. The button doesn't work.

[2020-06-18 12:24] #866 closed

[2020-06-19 07:07] PatrykPorabik opened #867 "Add possibility to sign in to newsletter during guest checkout"
Add possibility to sign in to newsletter during guest checkout

[2020-06-19 07:16] PatrykPorabik opened #868 "Change the way how scheduled tasks are loaded"
Change the way how scheduled tasks are loaded. Currently, it checks for all scheduled tasks, even not installed.

[2020-06-23 07:07] PatrykPorabik opened #870 "The wrong step is highlighted on Thank you page"
The wrong step is highlighted on Thank you page

![image](https://user-images.githubusercontent.com/16773025/85371628-dd0e9700-b530-11ea-9921-4c7c3c76c9e5.png)

[2020-06-23 08:00] PatrykPorabik opened #871 "Fix the correct length of encryption private key in Settings"
Fix the correct length of encryption private key in Settings

[2020-06-23 08:10] PatrykPorabik opened #872 "Add a new way of encryption"
Add a new way of encryption

[2020-06-23 09:31] fuat-tek opened #873 "EncryptText Bug"
I am using GrandNode 4,70. When I do credit card integration, I get the error in the method below.
The Substring method fails. The reason for the error is that the length of the entered value is 16 characters. It was made over 24 characters while doing substring. Do you have any information about this subject?
This problem gives an error both in the payment page and in the order detail in the admi

[2020-06-29 11:07] #871 closed

[2020-06-30 08:08] KrzysztofPajak opened #876 "Implement Serilog logging for ASP.NET Core in the project"
https://github.com/grandnode/grandnode/commit/d26cd2399e356071b1fe16d79996d6ceef5d0c2c

[2020-06-30 08:09] #876 closed

[2020-06-30 09:47] PatrykPorabik opened #877 "Tidy up the solution structure"
Tidy up the solution structure

[2020-07-02 09:25] KrzysztofPajak opened #878 "Extend API to allow to use Swagger UI"
https://github.com/grandnode/grandnode/commit/d49ee84a0f865d43d3a1875b4a238c183e5475a3

[2020-07-02 09:25] #878 closed

[2020-07-06 10:23] xerex09 opened #879 "Ajax filter does not show manufacturer by display order"
When I configure the manufactures in display order, it creates a problem when the required manufacturer is at lower section of the filter list.

The filter should list the manufacturers according to the assigned display order rather than by Name

[2020-07-06 10:44] PatrykPorabik commented on #879
Sorry, it's not related to the GrandNode codebase. Please post this kind of questions on our community forum - https://grandnode.com/boards

[2020-07-06 10:44] #879 closed

[2020-07-08 09:30] Illia-M opened #880 "Error in call from MaintenanceConvertPicture to SkiaSharp.SKBitmap.Decode"
**Describe the bug**
See error in logs and no effect after click on 'Convert picture to webp format'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'System -> Maintenance'
2. Click on 'Convert picture to webp format'
3. Stuck on empty page
4. See error in logs

**Expected behavior**
No errors in logs

**Desktop (please complete the following information):**
 - Firefox 78.0.1

**Additi

[2020-07-10 06:43] TTomu opened #881 "Translation for product attributes"
When adding new attribute for product, Name and Text Prompt should be available for translations. Currently, only values are translate.
 [Ref.](https://grandnode.com/boards/topic/5f073fe7a2c9d02bdc3ff794/translations-missing-on-adding-attributes-in-product-creations)

[2020-07-10 08:38] Illia-M opened #882 "Error on order PDF invoice"
**Describe the bug**
Order PDF invoice crash

**To Reproduce**
Steps to reproduce the behavior:
1. Place and process order
2. Click on 'PDF invoice'
3. See error "
INTERNAL ERROR
We're sorry, an internal error occurred.

    Our supporting staff has been notified of this error and will address the issue shortly.

    We apologize for the inconvenience.

    Please try clicking your browsers 'back'

[2020-07-10 09:45] TTomu commented on #882
I just test it on our demo, and can not reproduce issue. Can you try reproduce it again [here](https://demo.grandnode.com/)?

[2020-07-10 13:04] Illia-M commented on #882
Try convert images to webp format, i think this is root of problem

[2020-07-10 13:17] TTomu commented on #882
Issue is related to format of the image - that format is not supported by iTextSharp library.

[2020-07-10 13:18] Illia-M commented on #882
I re-upload Logo image in PDF Settings and now all is fine :\

[2020-07-10 13:20] Illia-M commented on #882
I think steps to reproduce Upload PDF logo -> Convert images to webp -> try create PDF invoice

[2020-07-10 20:15] BurialOrchid opened #883 "Inconsistency in ASP.NET version on Docs site"
https://docs.grandnode.com/getting-started is saying that GrandNode is based on ASP.NET Core 3.1 but
https://docs.grandnode.com/what-is-grandnode and https://docs.grandnode.com/introduction says that it is ASP.NET Core 2.2.
Please change that :)
![image](https://user-images.githubusercontent.com/46527470/87197679-c4f19280-c2fa-11ea-903b-ee880cc2f9aa.png)
![image](https://user-images.githubusercont

[2020-07-11 21:06] dborovsky commented on #845
Hi Pa

I   would like to help with this task. Is it still relevant?

[2020-07-12 20:16] dborovsky commented on #850
I would like implement this feature like separate plugin. Confirm?

[2020-07-12 21:53] dborovsky opened #884 "Prooduct's image upload failed"
**Describe the bug**
Prooduct's image upload failed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin panel as Vendor
2. Click on products - add new
3. Click Pictures - add new picture
4. Select picture for Loading
4. See error

**Screenshots**
![screen1](https://user-images.githubusercontent.com/3728303/87257391-42580700-c4a3-11ea-9905-39db84d958fb.png)

**Desktop (please complete

[2020-07-13 05:56] TTomu commented on #850
@dborovsky feel free to made implementation.

[2020-07-13 05:57] TTomu commented on #845
@dborovsky any help is welcome

[2020-07-13 06:03] TTomu commented on #883
@BurialOrchid Thank you for notification. Corrected.

[2020-07-13 06:03] #883 closed

[2020-07-13 06:10] TTomu commented on #884
I just made test on our demo, and seems to work fine.
![image](https://user-images.githubusercontent.com/16773048/87276162-0db67080-c4e0-11ea-88b4-b113ac16c6e6.png)
Are you able to simulate issue at our demo? Remember please that demo is reseted.

[2020-07-13 06:52] Illia-M commented on #884
Have similar(visually) problem, nginx(revers proxy) brake image upload larger then configured max request/body/file size(1MB for me). Which settings for demo?

[2020-07-13 11:37] dborovsky commented on #850
Thanks.
I have already started issue #845

This plugin has alrteady started our developer Fedor (https://github.com/BeliaevFiodor)

[2020-07-13 11:54] TTomu commented on #884
So that is by design. If need to enlarge, need to change at the media settings.

[2020-07-13 12:04] dborovsky commented on #884
@TTomu  My file is less than 1 mb.

I set to user role as vendor and conected this user to Vendor1.

I get this error if I sign in as this user and try to add new product.

I checked in google crome and see following error:

![screen1](https://user-images.githubusercontent.com/3728303/87302473-25aae600-c51a-11ea-992c-3853038dd5d1.png)

[2020-07-13 12:39] TTomu commented on #884
That is exactly this same way I have test it on our demo
![image](https://user-images.githubusercontent.com/16773048/87305113-3e190180-c516-11ea-98a6-d28675e1c1cf.png)
Even working fine for larger images
![image](https://user-images.githubusercontent.com/16773048/87305198-60ab1a80-c516-11ea-90a5-9c100f669ac9.png)
Working even for impersonate session.
What version of GrandNode you are using?

[2020-07-13 12:53] dborovsky commented on #884
I use last version 4.6
Strange...  I will continue test with another account

[2020-07-13 12:55] dborovsky commented on #845
Do you mean admin in admin panel can add labels or custommers?

[2020-07-13 22:57] cedricradicia commented on #651
Just to add my point of view on this point, vue.js will not be a simple remplacement of jquery.
Vue.js is really design to develop front application, this is a really strong and performant tool to do it.
I suggest to the team to take a look on quasar-framework which is using vue.js in the good way to make desktop, mobile and web app, pwa... in fact quasar is for the front what grandnode is for the

[2020-07-14 06:15] TTomu commented on #884
Last version is 4.70, and tested on that version.
Issue was able to reproduce at 4.60, as said - new version got it fixed.

[2020-07-14 06:19] PatrykPorabik commented on #850
That's great.

[2020-07-14 08:54] BeliaevFiodor commented on #850
Hello. Can you get me a link where I can find how can I override a BaseEntity and add a custom property there? It may be another plugin for example.

[2020-07-14 12:15] BeliaevFiodor opened #886 "Plugin Install error"
**Describe the bug**
When I made plugin it doesn't appear in admin menu. If I try to install plugin manually I got error:
Exception: This plugin doesn't support the current version - 4.80

**To Reproduce**
Steps to reproduce the behavior:
create any simple plugin and try to install it from admin menu: Configuration->Local Plugins -> Upload

**Expected behavior**
I think plugin must be installed au

[2020-07-14 12:36] PatrykPorabik commented on #886
You've probably made plugin for GrandNode 4.70 and try to install it on 4.80 version. It's not possible. Please check the Description.txt file of your plugin. And the second case is, that it's not recommended to use 4.80 version. It's version currently during the development phase, before tests, so you may face some bugs or other problems. If you want to make a plugin for GrandNode it's recommende

[2020-07-14 12:36] #886 closed

[2020-07-14 17:45] Leonardo-Ferreira opened #887 "CosmosDB compatibility"
**Is your feature request related to a problem? Please describe.**
From a I.T. point of view, managing a mongo cluster is not an easy thing to do. Even for structured companies. On the other hand, azure offers Cosmos with a mongo API that is 100% managed.

**Describe the solution you'd like**
I would like that GrandNode to be compatible with CosmosDB.

**Describe alternatives you've considered**
N

[2020-07-14 18:38] dborovsky commented on #845
@TTomu can you please give more info. To finish this feature I need undestand completly logic. Thanks

[2020-07-15 12:08] PatrykPorabik commented on #882
As long as ItextSharp won't support webp picture format, PDF printing feature won't work after converting. In that case, we are limited to its functionalities.

[2020-07-15 12:08] #882 closed

[2020-07-15 12:18] PatrykPorabik commented on #884
@dborovsky Dmitriy, it's an ACL issue. Please give Vendor permissions to Manage files. Go to Admin panel -> Configuration -> Access Control List and check the following permission - Admin area. Manage Files. It should solve the problem.

[2020-07-15 12:18] #884 closed

[2020-07-15 12:20] PatrykPorabik commented on #845
@dborovsky Hello Dmitriy, to be honest, we have a clear vision for that feature and we would like to make it with the rest of the team. We've already spent some time on the analysis and discussions, so I'm not sure if it would be worth explaining the whole idea again. Maybe you would like to take another task?

[2020-07-15 12:25] PatrykPorabik commented on #887
Some time ago, when we wanted to create a support for CosmosDB, it turned out that CosmosDB is not 100% "compatible with MongoDB, which made it impossible to support. However, it's still in our mind and we want to make the CosmosDB support in GrandNode.

[2020-07-15 12:36] PatrykPorabik commented on #880
Which version of GrandNode do you use? I was able to convert all of the pictures while ago on our dev environment with GrandNode 4.80 and on our demo with GrandNode 4.70.
![image](https://user-images.githubusercontent.com/16773025/87544858-6b48e980-c6a7-11ea-8da9-424427bd7e1d.png)

If the problem exists, I suppose it's something related to some other setting that affects the actions with the pictu

[2020-07-15 12:37] dborovsky commented on #845
Sure. No problems. Which task or bugs are now in priority?

[2020-07-15 13:24] PatrykPorabik commented on #845
I will talk with the rest of the team and let you know. Please give me some time.

[2020-07-15 22:26] Leonardo-Ferreira commented on #887
yeah... trying to "set up shop" I stumbled on 2 very important issues.

The first one is a technical one: some of the indexes definitions are not supported. Given a crude mongodb scenario that would be a blocker, but Cosmos has already some indexing going on behind the scene and perhaps that would suffice

the second one is a monetary one. Due to the large number of collections, the cheapest it ru

[2020-07-16 12:21] PatrykPorabik commented on #763
@Leonardo-Ferreira , @dborovsky  Please look at the following commit - d49ee84, we've implemented Swagger in the project. When you run the develop 4.80 version, you can enable API and Swagger in appsettings.json file, then you can navigate to yourstore.com/swagger/index.html and see the result :)

[2020-07-16 12:21] #763 closed

[2020-07-16 12:36] #565 closed

[2020-07-17 10:02] TTomu commented on #716
Apologize for late reply. Somehow missed notification.
At the screen you have assign form, but try to click save if you are as staff role.
![image](https://user-images.githubusercontent.com/16773048/87774816-5abe7d80-c825-11ea-8be2-1d02c93176a8.png)

[2020-07-20 15:22] fad16papa opened #888 "A timeout occured after 30000ms selecting a server using CompositeServerSelector"
**Describe the bug**
A timeout occured after 30000ms selecting a server using CompositeServerSelector{ Selectors = MongoDB.Driver.MongoClient+AreSessionsSupportedServerSelector, LatencyLimitingServerSelector{ AllowedLatencyRange = 00:00:00.0150000 } }. Client view of cluster state is { ClusterId : "1", ConnectionMode : "Automatic", Type : "Unknown", State : "Disconnected", Servers : [{ ServerId: "

[2020-07-21 05:21] PatrykPorabik commented on #888
It's something related to MongoDB configuration. Please check if you can connect to MongoDB from other client with provided credentials, check the bind IP from which you are able to login to the MongoDB. This error is always shown when user messed up something with connection data or when MOngoDB server is unavailable.

[2020-07-21 05:21] #888 closed

[2020-07-21 05:26] fad16papa commented on #888
Hi Patryk

Thanks for your reply. I will check it out and get back to you if I still
have any errors encountered.

Thank you.

On Tue, Jul 21, 2020, 1:21 PM Patryk Porabik <notifications@github.com>
wrote:

[2020-07-22 01:03] tjoudeh commented on #249
Hello @PatrykPorabik
Any update on this issue? DB is hosted in Atlas, I was able to run installation successfully from localhost, but when the website is deployed to Azure App Service it fails showing the below

![image](https://user-images.githubusercontent.com/3114431/88122064-3e796280-cbd0-11ea-94db-10546482aa1d.png)

[2020-07-22 05:30] PatrykPorabik commented on #249
@tjoudeh if the installer has not created all of the collections, it means that there was a problem with the database during the installation. You may have exceeded the allowable number of requests or simultaneous connections. it all depends on the server parameters.

[2020-07-22 08:04] tjoudeh commented on #249
Thanks @PatrykPorabik for your quick response, so based on your experience, have you ever been able to deploy it on Azure App Service, or you are aware of someone deployed this successfully to Azure App Service?

Another question: Is there any workaround to overcome this? Like setting u database from localhost then configuring the deployed Azure App Service to point to the newly setup database?

T

[2020-07-22 08:17] PatrykPorabik commented on #249
@tjoudeh to be honest, personally, I haven't deployed GrandNode to Azure App Service, so I don't want to lie to you. I need to talk with devs in our team. In the case of workarounds or service combinations. I don't know if it's necessary to create such complicated scenarios. Why don't you use the typical Linux server with MongoDB and GrandNode? If you are not emotionally connected with Azure :) an

[2020-07-22 08:59] tjoudeh commented on #249
Thank you again @PatrykPorabik for the quick reply, but think about it, the GrandNode is built on ASP.NET Core which should support by default deploying it to the Azure PaaS offering which is Azure App Services, this should be the default, why I need to provision a Linux VM to do this?

My initial deployment plan was to deploy Mongo to Atlas on Azure, and deploy the application to Azure App Servic

[2020-07-22 09:02] mentatpsi commented on #608
I'd like to reopen this since it might help people in the future. There are issues when using G Suite with this approach (when using Google to handle your own domain emails). No matter how many times you enter credentials correctly... it seems to cause issues. This was provided in the Google Community Forums. Spent awhile debugging this issue. Had to create a separate Gmail account for the user. I

[2020-07-22 13:13] PatrykPorabik opened #889 "Start/End Date for Tier Prices are not saved on product"
"if I put a tier price with start and end date, date are not saving."

Source:[https://grandnode.com/boards/topic/5f183580b7b1af7ac0b61fed/tier-price-no-save-date]( https://grandnode.com/boards/topic/5f183580b7b1af7ac0b61fed/tier-price-no-save-date)

[2020-07-22 13:43] dborovsky commented on #845
Any news?

[2020-07-23 06:23] #889 closed

[2020-07-23 06:59] PatrykPorabik commented on #845
Yes, you can take the order labels.

It should look like Customer Tags. You should create new table - Order Tags, then on the Orders list, there should be a possibility to filter orders by tags. Then on the order details page, you should be able to assign tags to orders. Please remember about the resource strings, Please also remember to use the same notation as before on each admin page.

[2020-07-23 14:43] dborovsky commented on #845
yea. thanks. have already started. Adding and changing labels will be in admin panel as admin. Correct?

[2020-07-24 05:20] PatrykPorabik commented on #845
Yes, of course in the admin panel. It's for administrators.

[2020-07-24 06:44] scharada opened #890 "Consider removing Autofac dependency and use only net core DI."
net core DI has reached a great level of maturity and speed that makes continuing to rely on autofac senseless.
native net core DI would be imho the best way to go forward. less package dependencies and cleaner code.

[2020-07-24 07:30] PatrykPorabik opened #891 "Google Analytics widget doesn't pass the e-commerce data"
Google Analytics widget doesn't pass the e-commerce data

[2020-07-24 12:15] dborovsky commented on #845
@PatrykPorabik  Must I implement page "Tags list" like on tab Orders?

[2020-07-24 12:22] PatrykPorabik commented on #845
I think tags on order details should be provided as a simple field, below Order status or order number. The whole list of orders tags, where you can specify all tags, should be the same as "Products tags", "Customer tags" as an independent menu item in the sidebar menu.

[2020-07-26 18:46] KrzysztofPajak commented on #890
@scharada
I agree with you. Probably we do not need to use autofac. We will consider to remove in version 5.0

[2020-07-28 12:59] #891 closed

[2020-07-29 09:04] #819 closed

[2020-07-29 13:09] KrzysztofPajak opened #892 "Change EPPlus library to DotNetCore.NPOI"

[2020-07-30 08:32] dborovsky commented on #845
I've already finished. I want to import localization resources from  EN_470_480.nopres.xml to defaultResources.grandres.xml

I select language - import file - uploading - EN_470_480.nopres.xml - importwas without errors.

But new localization resources were not imported to defaultResources.grandres.xml.
How should I correct update localization?

[2020-07-30 08:59] PatrykPorabik commented on #845
You should manually update the EN_470_480.xml and defaultResources.grandres.xml files.

[2020-07-30 10:33] KrzysztofPajak opened #894 "Allow to use OData in Open API project"

[2020-07-31 07:01] PatrykPorabik opened #896 "Improve emails templates"
Let's improve email templates that are available out of the box in GrandNode.

[2020-07-31 11:29] PatrykPorabik opened #897 "Change the way how we minify resources"
We should refactor the minification process and change the way how it works.

[2020-07-31 12:29] PatrykPorabik opened #898 "Add possibility to edit custom robots.txt file via admin panel"
We should add the possibility to edit custom robots.txt file via admin panel

[2020-08-01 13:13] skordesign opened #899 "Grandnode keep showing "Application has been installed successfully, please restart application." after installed"
**Describe the bug**
Grandnode keep showing "Application has been installed successfully, please restart application." after installed

**To Reproduce**
Steps to reproduce the behavior:
1. Build docker image with existing Dockerfile
2. Install with MongoDb

**Expected behavior**
App can go home page after installed

**Screenshots**
![image](https://user-images.githubusercontent.com/18341740/891024

[2020-08-01 13:42] #899 closed

[2020-08-03 10:04] dborovsky commented on #845
I created PR.

Do I need implement Searching orders by tag name?

Except filter is everything has finished.

[2020-08-03 11:18] #870 closed

[2020-08-04 05:36] KrzysztofPajak commented on #873
Fixed [https://github.com/grandnode/grandnode/commit/49a46320a57c792037e57089584afe3fed003233#diff-3d7a898adb26c4aa779a6b416a3a0c80](https://github.com/grandnode/grandnode/commit/49a46320a57c792037e57089584afe3fed003233#diff-3d7a898adb26c4aa779a6b416a3a0c80)

[2020-08-04 05:36] #873 closed

[2020-08-04 09:40] ScratZa commented on #887
Hi Everyone

Im assuming Using the MongoDB api with AWS DocumentDB will result in the same issues mentioned above? not sure if anyone has explored this as yet

[2020-08-04 09:54] ScratZa commented on #651
Hi Everyone - not sure if this is the correct place to post this however we are planning on integrating our front end application with GrandNode - in order to do this we would like our users to register vendors from our existing application written in angular. Am I correct in saying that we will need to extend the API to allow this functionality - only operations I can see for vendors is to get da

[2020-08-04 10:04] KrzysztofPajak commented on #651
Yes, you need to extend API to create/update vendor, at this moment we only support get. But we can consider to do this for the next version.

[2020-08-07 12:00] #892 closed

[2020-08-11 12:28] scharada opened #903 "Integrate IdentityServer4 for authentication."
it would make grandnode stick to best ptactices and standards.
issuing and verifying tokens for both the app and APIs should be delegated to components created for this purpose.
all what needs to be done is replace the apiexternalauthentication code with code that calls the identotyserver and build a IProfileService that checks for users in the current grand mode (since aspnet identity is not used

[2020-08-11 12:30] scharada opened #904 "move to use AspNetcore.Identity for managing users, user profiles and roles."
it's the standard and using it opens a whole lot of new doors for improvements we cannot do today like managing claims and permissions in a flexible way instead of having hardcoded permissions and roles...
an aspnet.identity for mongodb exists and is very stable.
it also integrates nicely with identityserver

[2020-08-11 12:36] rahsharm77 opened #905 "Allow adding of Picture URL to database"
Hello,

I am working on this wonderful platform and I have encountered into a problem which is that I am trying to figure out how to add my inserted Picture URL to the mongoDB collection.

For example: When I add a product and upload an Picture, is there a way that I can insert the URL created for that picture(be it local, AWS or Azure) to the Product collection (or Picture collection is also an o

[2020-08-11 12:57] scharada commented on #896
if i may suggest, please make the templates external files editable with an external editor or with a page builder. this is very important for mailing.

we could also use variables that inject data in the template such as "product, category or lists of products...

[2020-08-13 05:54] TTomu commented on #903
IdentityServer4 is under discussion label.

[2020-08-13 05:56] TTomu commented on #904
After discussion, we decided to not implement it.

[2020-08-13 05:58] TTomu commented on #905
Amazon S3 is supported by default.
URL is not possible to store, as Amazon returns a response with a picture that is scalable already.

[2020-08-13 06:18] rahsharm77 commented on #905
I have plugged in the S3 fuctionality and that is working correctly but the point that I am trying to make is that how can I store pictures URL associated to a product so that I can expose endpoint for an API that I am trying to create to get all products with their pictures. I do not want to write the entire logic that Grandnode is performing to return back the URL for picture and its associated

[2020-08-13 06:19] rahsharm77 commented on #905
o

[2020-08-13 06:19] rahsharm77 commented on #905
Reopening the issue since I accidently closed it earlier.

[2020-08-14 07:02] KrzysztofPajak opened #906 "Implement WKHTMLTOPDF"
Implement WKHTMLTOPDF

[2020-08-14 07:10] #906 closed

[2020-08-14 13:50] badijm commented on #877
Hi, what if we extract all validator classes to separate project.

[2020-08-17 05:47] KrzysztofPajak commented on #877
@badijm Thanks, It's a very good idea!

[2020-08-17 07:03] badijm commented on #877
@PatrykPorabik I can work on that.

[2020-08-17 12:34] scharada commented on #904
@TTomu  ok. may i know the reason(s) ? curious to know what led to that decision.

[2020-08-17 14:11] badijm commented on #826
Hi, I grab this one if available. Shouldn't be too difficult.

[2020-08-18 06:12] PatrykPorabik commented on #877
@badijm Max, thanks for your ideas, however, we would like to make that task internal in our team. We have a draft scope of the changes.

[2020-08-18 07:01] badijm commented on #877
@PatrykPorabik  Ok, no prob.

[2020-08-18 11:36] KrzysztofPajak opened #908 "Import products - allow to import product attributes/specification attributes"

[2020-08-18 11:36] KrzysztofPajak commented on #908
It will be available as a plugin

[2020-08-20 13:17] Illia-M opened #909 "Staff - Bulk Edit Product is not accessible when the assigned store will be removed"
**Describe the bug**
can not open Bulk product edit page. All other pages work fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Bulk product edit
2. See white page of error

**Expected behavior**
No NRE and page open

**Desktop (please complete the following information):**
 - Firefox

**Additional context**
In logs:
System.NullReferenceException: Object reference not set to an in

[2020-08-20 13:20] PatrykPorabik commented on #909
Hi @Illia-M

Which version of GrandNode do you use? Are you able to simulate it on our demo.grandnode.com?

[2020-08-20 13:26] Illia-M commented on #909
I use 4.70, i will try investigate what happens and try to reproduce, but NRE that must be very easy to diagnose when you has stack trace)

[2020-08-20 13:29] Illia-M commented on #909
I remove one of the store

var store = (await _storeService.GetAllStores()).Where(x => x.Id == storeId).FirstOrDefault();
NRE line -->>      model.AvailableStores.Add(new SelectListItem { Text = store.Shortcut, Value = store.Id.ToString() });

Try use .Single(x => x.Id == storeId) instead of .Where(x => x.Id == storeId).FirstOrDefault();

[2020-08-20 13:49] Illia-M commented on #909
Remove Staff role from user and problem is gone

[2020-08-21 08:59] Illia-M opened #910 "External Auth redirect url problem"
Hi, both Google and Facebook auth requests sends redirect_url in http scheme, not in https.
All shop settings configured as site with SSL
![1](https://user-images.githubusercontent.com/64944310/90872719-bdb3af00-e3a5-11ea-9d6a-fbd3ae3cdaed.PNG)
![2](https://user-images.githubusercontent.com/64944310/90872723-be4c4580-e3a5-11ea-81a0-10f08ef74547.PNG)

[2020-08-24 11:27] AwsomeCode opened #911 "Slider plugin in mobile view."
**Is your feature request related to a problem? Please describe.**
I am trying to use Slider plugin. Which is working fine in desktop or table mode. But in mobile view its getting hidden. Which also fine for some uses. But I still want to show the slider in Mobile View.

I have tried to dig deeper in to the source code but I haven't figured it out how its getting hidden in mobile view only.
If som

[2020-08-24 11:42] PatrykPorabik commented on #911
In fact, it's simple CSS rule :) https://github.com/grandnode/grandnode/blob/develop/Plugins/Grand.Plugin.Widgets.Slider/Content/style.css#L194 Please insert your styling in this place. It will bring back the slider plugin. However, we would like to hide it by default, so pull request is not required.

[2020-08-24 11:42] #911 closed

[2020-08-24 11:58] PatrykPorabik commented on #910
Have you configured the appsettings.json file? If you install SSL, you need to set up a few things in it according to your server.
https://github.com/grandnode/grandnode/blob/develop/Grand.Web/App_Data/appsettings.json#L2

[2020-08-24 15:37] AwsomeCode commented on #911
@PatrykPorabik One of the first things I tried editing is style.css but no luck https://github.com/grandnode/grandnode/blob/develop/Plugins/Grand.Plugin.Widgets.Slider/Content/style.css#L194 .
Another thing I have tried is to editing slider.js but no luck.
Another thing I have done is clean the build by manually deleting the Bin&Obj folder.  but no luck.
Another thing I have done is I have created

[2020-08-24 18:17] Illia-M commented on #910
I set "UseHttpXForwardedProto" to true. I should change something more?
"UseHttpsRedirection" need configuration in Nginx and documentation says that for WebApi redirects is bad practice.

[2020-08-24 21:00] gelinski opened #912 "Limit staff access to specific store"
I created the following scenario:

- Created two distinct stores at the same GN instance (using multi store concept), stores A and B;
- Added two customers as Staff (A/B);
- Logged in with user A in store A;
- Created some stuff, like products/categories;
- Entered in store B with user A;

Expected behavior:
User A couldn't access the content of site B or get accessed to admin panel of this. Consi

[2020-08-25 05:51] #904 closed

[2020-08-25 05:52] #905 closed

[2020-08-25 06:06] PatrykPorabik commented on #910
Try with "UseHttpXForwardedProto" to False and "UseForwardedHeaders" to True.

[2020-08-25 07:26] PatrykPorabik commented on #912
Hi,

In GrandNode you don't have customers assigned to a specific stores. We don't have also any plans to support or implement that feature.

[2020-08-25 07:26] #912 closed

[2020-08-25 20:06] Illia-M commented on #910
This change solve my problem! Thank you!)

[2020-08-25 20:06] #910 closed

[2020-08-26 08:54] KrzysztofPajak opened #913 "Advanced Permissions"
Allow to manage permissions for actions ("read", "write", "delete", "export", "import", "etc...")

[2020-08-28 14:06] dborovsky commented on #898
Hi I would like to help with this task. Is it ok?

[2020-08-31 06:41] PatrykPorabik commented on #898
Hi,
Sure. It's ok. Do you have any questions? You can use the Custom CSS or Custom JS views as a template for that feature.

[2020-08-31 11:12] PatrykPorabik opened #914 "Add Voice Virtual Assistance"
Add Voice Virtual Assistance

[2020-08-31 13:29] dborovsky commented on #898
Yes, I can and have questions.  How must be implemented this feature on admin panel?
You mean additional tab, than open editor with robot.txt file, admin can edit and after click save?
Can you share more details?

[2020-09-01 05:30] PatrykPorabik commented on #898
@dborovsky please go to Admin Panel and look at how Custom JS and Custom CSS in the System tab work. Robots.txt should work similarly. It has to be a custom robots.txt file, not the original one. By default, the editor should be empty of course. Please check also this part of the project: https://github.com/grandnode/grandnode/blob/37916214f54fe29bbe5cf9cbe183581d12c5a732/Grand.Web/Areas/Admin/Con

[2020-09-01 13:38] KrzysztofPajak opened #915 "Allow managing cookies preference"
Allow managing cookies preference.

[2020-09-02 08:40] PatrykPorabik opened #916 "Change the Zero SSL validation URL"
Change the Zero SSL validation URL

[2020-09-02 10:56] #908 closed

[2020-09-02 11:04] #916 closed

[2020-09-02 11:30] KrzysztofPajak commented on #908
Plugin is available here [https://grandnode.com/products-import](url)

[2020-09-02 12:30] dborovsky commented on #898
codemirror library dosen't suport hint robot.txt. I will implement without hint. Ok?

[2020-09-02 12:38] PatrykPorabik commented on #898
Of course, it would be hard to suggest anything with hints in the case of robots.txt file.

[2020-09-02 12:46] dborovsky commented on #898
what path should a file be saved to?

[2020-09-02 13:00] PatrykPorabik commented on #898
@dborovsky please check how it works now. Because custom.robots.txt file is available in GrandNode. Just add possibility to edit it from the admin panel.

[2020-09-03 19:38] dborovsky commented on #898
Check please pr #917

[2020-09-04 07:13] PatrykPorabik opened #918 "Second category description on the bottom of the page"
Give the possibility to add a second category description, at the bottom of the page.

[2020-09-04 08:53] PatrykPorabik opened #919 "Second manufacturer description on the bottom of the page"
Second manufacturer description on the bottom of the page

[2020-09-04 08:55] #919 closed

[2020-09-04 08:55] #918 closed

[2020-09-04 10:50] fatagun opened #920 "[Question] Marketplace source code"
Hello,

Is the marketplace (https://grandnode.com/extensions) source code available for public?

Thanks.

[2020-09-04 11:02] PatrykPorabik commented on #920
Sure, on each product you can mark checkbox "Source code" you will receive them after purchase.

[2020-09-04 11:02] #920 closed

[2020-09-04 11:03] #913 closed

[2020-09-04 11:23] PatrykPorabik opened #921 "Contact us - prevent to send form with wrong CAPTCHA"
Contact us - prevent to send form with wrong CAPTCHA

Source: [https://grandnode.com/boards/topic/5f15641d0d87836dd46bb392/recaptcha-check-not-working](https://grandnode.com/boards/topic/5f15641d0d87836dd46bb392/recaptcha-check-not-working)

[2020-09-04 11:53] #921 closed

[2020-09-04 11:55] fatagun commented on #920
Hey, thanks for prompt response.

I was actually asking for the marketplace code itself where vendors register their soft/hard products for selling.

I meant the source code of (https://grandnode.com/extensions) this page.

Thanks again

[2020-09-04 11:55] PatrykPorabik commented on #909
.Single won't solve the problem at all. It's a more complicated case, to be honest, you shouldn't delete the store if you have a staff user assigned to it. For now, we've implemented the above-listed solution. It will prevent to throw the Object reference.. error. But we will think about more sophisticated validation.

[2020-09-04 11:55] #909 closed

[2020-09-04 12:18] PatrykPorabik commented on #920
It's standard version of GrandNode. We didn't implement anything special. So if you want to create the same marketplace,e just get GrandNode and that's all :) We've only made a custom theme.

[2020-09-04 12:18] fatagun commented on #920
Thanks man. :)

[2020-09-04 12:19] #898 closed

[2020-09-04 12:19] dborovsky commented on #915
I would like to help with this task. Can you share more details about managing cookies?

[2020-09-04 12:32] PatrykPorabik commented on #915
@dborovsky Thanks a lot, however, Krzysztof is already working on that.

[2020-09-04 12:34] PatrykPorabik commented on #472
@dborovsky If you have free time, we would love to increase the number of Unit tests in the project. Maybe can you help with that?

[2020-09-04 12:35] dborovsky commented on #915
@PatrykPorabik Tell me which tasks are in priority now?

[2020-09-04 12:41] #663 closed

[2020-09-04 12:42] PatrykPorabik opened #922 "Increment display order value when adding a new language"
Increment display order value when adding a new language

[2020-09-04 12:43] #922 closed

[2020-09-04 13:00] PatrykPorabik commented on #807
We've removed the ITextSharp library

[2020-09-04 13:00] #807 closed

[2020-09-04 13:03] dborovsky commented on #472
@PatrykPorabik  Yes, I can, but cover whole grandnode solution with unit tests will be hunderts tests. I'll write tests at my discretion.

[2020-09-04 13:07] PatrykPorabik commented on #472
@dborovsky just look at the Tests project and just try to extend it according to the existing patterns :) I don't say that you should cover the whole project:)

[2020-09-04 13:12] dborovsky commented on #472
yea, I will be. all clear

[2020-09-04 13:19] #845 closed

[2020-09-08 10:11] PatrykPorabik opened #923 "After losing a connection with the database, the scheduled task does not run again."
After losing a connection with the database, the scheduled task does not run again.

[2020-09-08 11:07] #923 closed

[2020-09-08 11:54] KrzysztofPajak opened #924 "Implement search providers - Elasticsearch"

[2020-09-08 11:55] KrzysztofPajak opened #925 "Add support for RabbitMQ"

[2020-09-08 11:56] KrzysztofPajak opened #926 "Upgrade to .NET 5"

[2020-09-09 09:16] #399 closed

[2020-09-10 12:12] PatrykPorabik opened #928 "Introduce the Semantic Versioning"
To adapt to the prevailing trends and rules in the software world. We decided to implement semantic versioning, which we should use for a long time. This issue item will brighten further way of versioning.

Starting from the 4.80 version, we will implement the new meaning of version number. According to the semantic versioning rules, the next GrandNode releases will follow the specified pattern -

[2020-09-11 06:33] zach88 opened #929 "config grandnode with nginx reverse proxy"
**Describe the bug**
The function GetStoreLocation in WebHelper return http scheme on OnePageCheckout while the System information page show the "Http request scheme" as https and "Http scheme is https" as true.

The GetStoreLocation function only return https scheme on OnePageCheckout if UseHttpXForwardedProto is set true and UseForwardedHeaders is set false in appsettings.json but System informa

[2020-09-11 06:39] PatrykPorabik commented on #929
Hello @zach88
Have you configured the SSL in the admin panel? You should go to Admin -> Configuration -> Stores, edit your store and mark "Use SSL" checkbox. Then provide the secure URL with https:// protocol. In the case of appsettings.json, it's enough to set UseHttpXForwardedProto false and UseForwardedHeaders true.

[2020-09-11 06:46] PatrykPorabik commented on #929
And please post this kind of question on our community forum. It's not a development question.

[2020-09-11 06:46] #929 closed

[2020-09-11 07:52] KrzysztofPajak opened #931 "More Improvement tests"

[2020-09-11 07:53] #931 closed

[2020-09-14 08:00] #928 closed

[2020-09-15 07:28] #915 closed

[2020-09-15 10:03] PatrykPorabik opened #934 "Make order details more user friendly"
Make order details more user friendly. Let's move the Shipments table to an independent tab which is more user friendly and clearly shows where the admin should go to create a shipment.

[2020-09-15 10:05] #934 closed

[2020-09-15 16:39] KrzysztofPajak commented on #894
@DKucia please prepare sample client with using open API client.

[2020-09-16 10:42] Illia-M opened #935 "Check / Money Order plugin not store description in different language"
**Describe the bug**
When you change Description in "Check / Money Order" payment plugin - text in not Standard language not stored

Reproduced in Demo site\store.

[2020-09-17 11:30] PatrykPorabik opened #937 "Add possibility to write replies to customers contact forms messages directly from the admin panel"
Add possibility to write replies to customers contact forms messages directly from the admin panel

[2020-09-18 09:23] PatrykPorabik opened #938 "It's impossible to make an order if there is a customer action "Add order" with conditions"
It's impossible to make an order if there is a customer action "Add order" with conditions

[2020-09-18 09:50] TTomu opened #939 "Topic content not vissible"
**Describe the bug**
The topic content is not visible if topic is password protected and typed correct password.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Admin/ContentManagemet/Topic
2. Click on Add new
3. Fill name, description, system name, click password protected and add a password, save
4. Go to the public store and open topic, type password, No content visible. If at the a

[2020-09-18 10:43] KrzysztofPajak commented on #852
Done

[2020-09-18 10:43] #852 closed

[2020-09-18 10:43] KrzysztofPajak commented on #853
Done

[2020-09-18 10:43] #853 closed

[2020-09-18 10:43] #939 closed

[2020-09-18 10:44] #938 closed

[2020-09-18 10:44] KrzysztofPajak commented on #894
Sample open api client:[ https://github.com/grandnode/open-api-client](url)

[2020-09-18 10:44] #894 closed

[2020-09-18 10:46] #864 closed

[2020-09-18 11:24] #345 closed

[2020-09-20 12:58] dogo-mehmetcantas commented on #651
Any updates for this request?

[2020-09-20 13:27] dogo-mehmetcantas opened #940 "Country restriction for topic pages"
**Is your feature request related to a problem? Please describe.**

If store owner working with multiple countries topic page contents can be changed depend on country. E.g. : return request rules can be changed for local or abroad orders or something like that.

**Describe the solution you'd like**
A restriction table can be create for topics.

**Describe alternatives you've considered**
-

**Add

[2020-09-20 15:16] cedricradicia commented on #651
Two new branches were created to try vuejs during last week if I'm good.
One call issue-vue-theme, the other issue-npm-vue... I can imagine this is on track but very new 😉

[2020-09-20 15:21] dogo-mehmetcantas commented on #651
I think 5.0 or later versions is gonna be legendary 👍  Thank you

[2020-09-20 15:34] mehmetcantas opened #941 "Different product price for each currency"
Hey, I know it's already in grandnode, but it's not I'm talking about that. If you want to set different prices for each currency you have ,currently you can't. From my experiences this is the neccessary feature for product price management.

**Things to be done :**

- Store owners can set different prices for each currency. This allow us to flexibility on product price management.
- For to do thi

[2020-09-20 15:35] cedricradicia commented on #651
I hope so!
This will be a big added value in comparison to SimplCommerce, VirtoCommerce and all others actors I have seen... but there are also an huge work for sure.

This is a good match with Vue3 KeyNote 😉

[2020-09-20 15:35] #940 closed

[2020-09-20 15:35] mehmetcantas opened #942 "Country restriction for topic pages"
Is your feature request related to a problem? Please describe.

If store owner working with multiple countries topic page contents can be changed depend on country. E.g. : return request rules can be changed for local or abroad orders or something like that.

Describe the solution you'd like
A restriction table can be create for topics.

Describe alternatives you've considered
Additional context
I

[2020-09-20 15:40] dogo-mehmetcantas commented on #651
Yeah, if you need any support for backend operations please feel free to contact me. I am ready to support :)

[2020-09-20 18:29] KrzysztofPajak opened #943 "Implement libman.json"
Implement libman.json

[2020-09-20 18:33] KrzysztofPajak opened #944 "Breakdown of the project responsible for administration and frontend."
Breakdown of the project responsible for administration and frontend.

[2020-09-20 18:37] KrzysztofPajak commented on #942
@mehmetcantas I suggest using multi-store features.
Most of the settings support multi-store. Every store will be assigned to your country's location.

[2020-09-20 21:36] dogo-mehmetcantas commented on #942
Yes, but it's can be complex for store owners. This feature already done for payment and shipping methods if we add this also for topic pages store owners easly manage them topics

[2020-09-20 21:38] mehmetcantas commented on #942
Yes, but it's can be complex for store owners. This feature already done for payment and shipping methods if we add this also for topic pages store owners easly manage them topics

[2020-09-21 05:51] PatrykPorabik commented on #651
Exactly, we are working on that. You can track the issue-vue-theme branch to check how to new theme based on Vue work.

[2020-09-21 11:26] talhakaanozkan opened #945 "Linking redis to the project."
I do not know english. I'm writing using google translate.
The version I downloaded from github 2 days ago.

**Describe the bug**
When I connect redis to the project it creates such a record.

DataProtection-Keys
`<key id="fe33bcff-2e13-4c25-aa4b-dd597d4aa774" version="1"><creationDate>2020-09-21T11:08:17.5289352Z</creationDate><activationDate>2020-09-21T11:08:17.5040322Z</activationDate><expirati

[2020-09-21 11:32] PatrykPorabik commented on #942
Limited to store feature is also available as a table. Directly on topic creation/edition page. So I suppose every store owner will handle it easily. You are able to do that with a [Multi-tenant plugin](https://grandnode.com/advanced-multi-tenant), which is available on our marketplace.

[2020-09-21 11:32] #942 closed

[2020-09-21 11:39] PatrykPorabik commented on #941
To be honest similar task already exists on our roadmap #355

[2020-09-21 11:39] #941 closed

[2020-09-21 11:41] PatrykPorabik commented on #389
Partially done in 4.80.0-beta.

[2020-09-21 11:41] #389 closed

[2020-09-22 07:31] PatrykPorabik opened #948 "Exclude /swagger/ page from HTML minification"
Exclude /swagger/ page from HTML minification. It's impossible to use Swagger when the HTML minification is enabled.

[2020-09-22 08:51] #945 closed

[2020-09-22 12:31] PatrykPorabik opened #949 "Delete customer also from External Authentication table when deleting customer"
We should delete customers also from External Authentication table when deleting customers. In the current way, we won't be able to register this account again with external authentication methods.

[2020-09-22 15:45] mehmetcantas opened #950 "GDPR logs for customers and newsletter subscriptions"
**Is your feature request related to a problem? Please describe.**
Currently GDPR options or logs doesnt exist in GrandNode.

**Describe the solution you'd like**
GDPR accept date, GDPR accepted by ip address and current GDPR confirm status can be added on both Customer and NewsletterSubscriptions tables

**Describe alternatives you've considered**
-
**Additional context**
-

[2020-09-23 10:47] PatrykPorabik opened #951 "Partial refund (offiline) - set status refunded instead of partially refunded if we refund the whole amount"
Partial refund (offiline) - set status refunded instead of partially refunded if we refund the whole amount via Partial refund

[2020-09-24 12:22] PatrykPorabik opened #954 "Update Firebase to the newest version"
Update Firebase to the newest version

[2020-09-24 12:52] #954 closed

[2020-09-24 15:56] mehmetcantas opened #955 "Store owners should able to select currency in admin panel"
**Is your feature request related to a problem? Please describe.**

In current version store owners can select different language on admin panel but they can't select different currency. If I want to look reports as a store owner on my currency I can't.

**Describe the solution you'd like**
Maybe we could add the currency option to admin panel. When a store owner change currency reports summary va

[2020-09-25 10:56] Illia-M opened #956 "AutoComplete fields for Categories"
**Is your feature request related to a problem? Please describe.**
Categories list can be long - for example i see store with 600+ categories, and i thin this is not limit.
When you add new products, specially on new store start when you add many-many products, you can long time scroll to needed category, miss it and scroll again... very painful. And size of drop-down list multiply this pain.

**D

[2020-09-25 23:20] wwrighter commented on #165
Sorry if I am late to the party and apologies if this is already established but what about baking in to the code - schema markup?

Product schema from top to bottom
New retailer / shipping schema from top to bottom
Category product schema on category pages

Might be nice to be able to turn it off and on . I.e. a store owner not wanting to have shipping schema setup becasr shipping is dependent or

[2020-09-26 20:34] dogo-mehmetcantas commented on #956
@Illia-M Maybe using the Select2 library simplest solution for this issue

[2020-09-26 22:12] dborovsky commented on #897
@PatrykPorabik  I am continuous to cover tests but   I would like to help with this task too. can you explain what do you mean  "minify resources"?

[2020-09-27 17:12] #948 closed

[2020-09-27 17:13] KrzysztofPajak opened #958 "Add support for partially paid orders"

[2020-09-27 17:13] KrzysztofPajak opened #959 "Ability to assign catalog price per currency"

[2020-09-27 17:14] KrzysztofPajak opened #960 "Country and StateProvince should be in one Collection - refactoring of code"

[2020-09-27 18:00] Illia-M opened #961 "Bug in Admin with SEO-friendly URLs"
**Describe the bug**
Bug with SEO-friendly URLs and more then one language in GrandNode, when you change product and use Preview feature

**To Reproduce**
Steps to reproduce the behavior:
1. Open product edit in not default or English admin language
2. Click on product preview
3. See preview in default (English) version
4. Refresh product edit page and see change from custom selected language

**E

[2020-09-27 20:40] dborovsky opened #962 "Refactor ProductReviewService - add new method"
I would like a bit change ProductReviewService.

I implement test for UpdateProductReviewTotalsCommandHandler

I can't mock following line in Handle method:
`await _productReviewRepository.Collection.Find(new BsonDocument("ProductId", request.Product.Id)).ToListAsync();`

I can't setup mock object for method Find of MongoCollection:

 `_mongoCollectionMock.Setup(x => x.Find(It.IsAny<FilterDefiniti

[2020-09-28 06:28] usr338 opened #963 "Admin panel crash when enabling right to left."
**Describe the bug**
Admin panel crash when enabling right to left. side bar menu show nothing and main content is messed up in version 4.8 beta

**To Reproduce**
Steps to reproduce the behavior:
please go to Administration area,
then Configuration -> Languages,
and click on language.
check "Right to left" box.

**Desktop :**
 - all browsers

[2020-09-28 06:45] usr338 opened #964 "Change the calendar according to the type of culture"
When the layout of the pages changes from **right to left**, one of the **Hebrew, Arabic, or Persian** languages ​​is probably selected. Most of the time, users who use these languages ​​have a **calendar** that fits their language. For example, in Arabic, the Hijri calendar is used, and in Persian, the **solar or jalali calendar**. Therefore, in order for the program to be effective in these lang

[2020-09-28 07:13] PatrykPorabik commented on #963
Which version of GrandNode,? We've checked it on the newest one, and everything works as expected.

[2020-09-28 07:31] PatrykPorabik commented on #964
Thanks for the suggestion, we will consider it, if you want, you can always make a pull request and become a contributor! ;)

[2020-09-28 08:36] usr338 commented on #963
In 4.8 beta version problem exist.
 because the version of bootstrap-rtl which is use in project is 3.3.6 but normal bootstrap is 4.5.2

[2020-09-28 13:12] #949 closed

[2020-09-28 13:53] #951 closed

[2020-09-28 14:19] KrzysztofPajak commented on #963
Thanks!
We updated bootstrap-rtl library

[2020-09-28 14:19] #963 closed

[2020-09-28 16:34] KrzysztofPajak commented on #962
@dborovsky Sure, you can extend interface  IProductReviewService.

[2020-09-29 11:54] szymczakk opened #966 "Add the possibility to save images to external storage instead of the directory where the app is deployed"
**Is your feature request related to a problem? Please describe.**
Right now, trying to deploy Grandnode in the cloud we have 2 options for images:
- save them in DB
- save them in the local directory where the app is deployed

I would like to have the images in some attached storage. When I create a droplet in Digital Ocean it's much cheaper to add some additional drive than to have it all in one

[2020-09-29 12:28] talhakaanozkan opened #967 "multi-vendor - rather than multi-product logic. multi-seller - one product."
### Is your feature request related to a problem? Please describe.
**multi-vendor - rather than multi-product logic. multi-seller - one product.**

### Describe the solution you want
**Enter the products from admin. Can I do so that the seller can only enter price / stock / stock code on the products? Is there a plug-in?**

[2020-09-29 18:02] KrzysztofPajak commented on #967
@talhakaanozkan Unfortunately, we do not have such a plugin.

[2020-09-29 18:02] #967 closed

[2020-09-29 18:06] KrzysztofPajak commented on #966
Thanks, we will consider it, if you want, you can make this and become a contributor!

[2020-09-29 18:14] KrzysztofPajak commented on #950
@mehmetcantas
Please check this link:
[https://grandnode.com/gdpr-in-e-commerce-how-to-meet-requirements-with-grandnode](https://grandnode.com/gdpr-in-e-commerce-how-to-meet-requirements-with-grandnode)

and the latest feature
[https://grandnode.com/new-release-grandnode-4800-beta](https://grandnode.com/new-release-grandnode-4800-beta)
"Allow managing cookies preference"

[2020-09-29 18:14] #950 closed

[2020-09-29 18:15] KrzysztofPajak commented on #935
@Illia-M this is not a bug.
If you want, you can always make a pull request and become a contributor!

[2020-09-30 10:53] szymczakk commented on #966
Cool! That's what I was waiting for ;) Will go for it ;)

[2020-09-30 13:39] talhakaanozkan opened #968 "I don't want users with "Guest" to use the system."
** Is your feature request related to a problem? Please describe. **
I don't want users with "Guest" to use the system. I want only those who have logged in to be able to see and buy the products. how can I do that ?

** Describe the solution you want **
Settings can be added to the settings so that only members can view the products.

[2020-09-30 13:57] KrzysztofPajak commented on #968
Could you please post this kind of questions on our forum?

[2020-09-30 14:20] talhakaanozkan commented on #968
I shared the topic under the title of suggestions and feedback.

[2020-09-30 14:20] #968 closed

[2020-09-30 19:03] #962 closed

[2020-10-01 02:21] scharada commented on #853
Hi @PatrykPorabik
good work . but i think i did not describe my suggestion well enough.
what i meant is have the api totally separated from the main project so it can run in its own process.
the API project today is still part of and runs within the main app space and context ... that is the issue.
thanks.

[2020-10-01 15:29] dborovsky commented on #964
guys,  is stil actual I can help with calendar

[2020-10-01 16:54] KrzysztofPajak opened #969 "Implement Super simple WYSIWYG editor (summernote)"
Implement Super simple WYSIWYG editor (summernote) - https://github.com/summernote/summernote
(remove tinymce)

[2020-10-01 19:56] benys opened #970 "Odata with SeoFriendlyUrlsForLanguagesEnabled don't work"
With turned on SeoFriendlyUrlsForLanguagesEnabled Odata don't work. For example /odata/$metadata is not found.

**To reproduce:**
1. fetch stable version
2. turn on SeoFriendlyUrlsForLanguagesEnabled
3. turn on Api
4. try to open /odata/$metadata

**Additional context**
If I comment pattern in GenericUrlRouteProvider and RouteProvider related with SeoFriendlyUrlsForLanguagesEnabled Odata start wor

[2020-10-01 19:59] marcelowu opened #971 "can you help me install these plugins"
already used these plugins, this is working? I don't know how to install on ubuntu, can you help me install.
Grandnode shipping rate computation plugin from brazilian postal company. (v4.60+)
https://github.com/rafaelboschini/Grand.Plugin.Shipping.Correios

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frus

[2020-10-02 06:40] TTomu commented on #964
@dborovsky sure, if you are interested can make this feature.

[2020-10-02 06:40] TTomu commented on #970
Thank you, we will check this.

[2020-10-02 06:43] TTomu commented on #971
That is an extension, not part of the project.
We recommend contacting with Rafael. He`s very helpful and I`m sure he will help you with it.

[2020-10-02 06:43] #971 closed

[2020-10-02 09:56] talhakaanozkan opened #972 "[Area ("Admin")] in plugins."
**Describe the bug**
https://github.com/grandnode/grandnode/commit/1d8bc592ce25a243825899c1abb64267832abea2
I updated those in this task myself. I noticed while examining. stuck as [Area ("Admin")] in plugins.

[2020-10-04 10:07] usr338 commented on #964
In fact, at the moment, part of the problem is practically solved. At the following link: https://github.com/iPazooki/NopCommerce-PersianCalendar
Previously, the kendo calendar for the nopcommerce admin panel version 3.8 has been translated into Persian and the jalali or solar calendar has been implemented. The same trend can be applies to grandnode.
Of course, you can use built-in .NET persianCal

[2020-10-05 06:47] KrzysztofPajak commented on #972
Yes, It's by design.
In the plugins we do not want add reference to the project Grand.Web so it can be written that.

[2020-10-05 06:47] #972 closed

[2020-10-05 19:54] benys commented on #970
@KrzysztofPajak it looks that work.

[2020-10-05 19:54] #970 closed

[2020-10-06 10:35] hassanelsherbiny opened #973 "Adding Monetization From Vendor"
Let Store Owner Get Benefits From Registered Vendors By Adding Fix fee Or Percentage Fee For Each Vendor To Be Calculated in separated Report By Store Owner.
We Can Also Make It on/off by choosing Settings for store owner to select whether to choose.

[2020-10-06 13:27] PatrykPorabik commented on #973
What's the purpose of it? The store owner is able to get a commission from each sale. is it not enough?

[2020-10-06 13:32] hassanelsherbiny commented on #973
how can store owner set commission? and how can store owner know how much commission he got from specific vendor?

[2020-10-07 05:46] PatrykPorabik commented on #973
Please ask this question on [our community forum](https://grandnode.com/boards), it's not related to application technical issues.

[2020-10-07 05:46] #973 closed

[2020-10-07 06:32] PatrykPorabik opened #974 "Customer Reminders - Ordered should be marked only on last reminder"
Customer Reminders - Ordered should be marked only on the last reminder

If we configure a few levels of reminder, and customers will order products after the last one reminder, every level will be marked "Ordered - True". This should be marked only on a level, after which the purchase was made.

[2020-10-07 11:24] scharada opened #975 "Question: Mobile slider"
is there a reason why the slider does not appear on mobile layout ?

[2020-10-07 11:36] PatrykPorabik commented on #975
It's just our vision. If you want, you can bring it back by styling it. By default it has display: none; value on mobile.

[2020-10-07 11:36] #975 closed

[2020-10-07 19:58] usr338 opened #976 "There are some bugs and clutter in Admin Panel (backoffice) when layout is right to left"
**Describe the bug**
Browse button doesn't work during importing data(such as product list or language resources , ...) from excel files.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin Panel'
2. Click on 'Configuration -> Languages '
3. Select any language exist in table.
4. Select Right-to-left -> save
5. when layout changes to right to left -> select import Resources
6. try t

[2020-10-09 11:16] PatrykPorabik commented on #976
@dan269 can you look at it?

[2020-10-10 15:43] usr338 commented on #976
by the way, this problem exist in version 4.8

[2020-10-12 08:26] #976 closed

[2020-10-12 09:16] #472 closed

[2020-10-12 09:18] #578 closed

[2020-10-12 10:23] TTomu opened #977 "Wrong email data"
**Describe the bug**
Wrong email at the customer action

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Customer Action, set the action to add to cart
2. Click on the Reaction tab and choose reaction type to email, at condition choose any item. Save
3. As customer add to cart item to cart.
4. Message queue will set the "To" field as store owner email.

**Expected behavior**
An email sh

[2020-10-13 08:08] TTomu opened #978 "ACL customer for vendor"
**Describe the bug**
If the vendor account has access to customers but restricted only to preview, got access to a list of online customers as well as customer tags.

[2020-10-13 08:10] TTomu opened #979 "ACL customer preview for vendor order details"
**Describe the bug**
If permission (manage.customers and preview only) for the vendor is granted, not able to see customers at the order details info tab. Not able to use preview ACL.

[2020-10-13 08:27] #977 closed

[2020-10-13 08:34] TTomu opened #980 "Print shipments not respect vendor role"
**Describe the bug**
The vendor is able to "Print packaging slips (all found)" without limit to own products. The list of items is restricted, but not a print.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shipments
2. Click on "Print packaging slips (all found)"
3. See pdf and items not assign to the vendor account.

[2020-10-13 09:24] #980 closed

[2020-10-14 05:56] TTomu opened #981 "Delete message contact form"
**Describe the bug**
Detele all delete all messages, even not listed.

**To Reproduce**
Steps to reproduce the behavior:
1. Give vendor permission for the 'Admin area. Manage Message Contact Form'.
2. Vendor may list only messages for him (contact vendor), but clicking delete all will result in deleting all messages (even those, not listed by the vendor)

**Expected behavior**
Delete all should de

[2020-10-14 12:01] #981 closed

[2020-10-14 13:17] PatrykPorabik opened #982 "Add Start/End date fot Topics (Pages)"
Add Start/End date fot Topics (Pages)

[2020-10-14 13:17] PatrykPorabik opened #983 "Add possibility to preview blog post before publishing"
Add possibility to preview blog post before publishing

[2020-10-14 13:17] PatrykPorabik opened #984 "Advanced Permissions for API"
Advanced Permissions for API

[2020-10-15 05:47] emremp opened #985 "stripe plugin payment_intent_unexpected_state error"
**Describe the bug**
We purchased stripe plugin from store and installed on my site https://crocliner.azurewebsites.net/ version 4.70

We configured test secret key and publishable key. When we checkout a product, it returns "Object reference not set to an instance of an object." error. I searched logs but could not find any clue. Then I looked stripe logs and stripe rejects payment because of

"m

[2020-10-15 06:22] PatrykPorabik commented on #985
Hi @emremp
Please send this request to our support team at support@grandnode.com
The GitHub issues page is reserved for issues with the software, not with the premium plugins.

[2020-10-15 06:22] #985 closed

[2020-10-16 15:48] Illia-M commented on #302
This issue persist for 4.70 version, any updates?

[2020-10-22 10:49] talhakaanozkan opened #987 "TinyMceHelper Language Path"
**Describe the bug**
The language does not work in editors because the file path is wrong. I mentioned in the 2nd picture. You will notice when checking the "/" mark is missing in the file path. ( Google Translate )

**Screenshots**
![image](https://user-images.githubusercontent.com/24568732/96861107-4fa26b80-146c-11eb-80b4-7f4c75d0d9ac.png)
![image](https://user-images.githubusercontent.com/24568

[2020-10-22 14:56] marcobrigantiglobalis opened #988 "Duplicated param in API $metadata: Action: CreateProductSpecification, param: SpecificationAttributeOptionId"
In Release 4.7
Duplicated parameter in API $metadata: Action: CreateProductSpecification, param: SpecificationAttributeOptionId

To Reproduce (if debuggin in local):
http://localhost:16592/odata/$metadata
1. Go to  http://localhost:16592/odata/$metadata
2. Search CreateProductSpecification
3. Can you see the duplicated SpecificationAttributeOptionId  parameter

This causes some problems.

[2020-10-23 07:07] PatrykPorabik commented on #988
Hello,

It has been fixed in the 4.80.0 version.

[2020-10-23 07:07] #988 closed

[2020-10-23 09:05] PatrykPorabik opened #989 "If the product is unpublished, it disappears from the Bestsellers report"
If the product is unpublished, it disappears from the Bestsellers report

[2020-10-24 13:06] badijm commented on #989
Hi, I can pick this item to implement.

[2020-10-25 00:04] CanMehmetK opened #991 "Favorite Folder/Grouping, Favorites, Messages"
Add to Favorites
Addto Favorite Group
     Create Group,...

Message to vendor-Seems implemented.
    View Messages

Some products may be unknowm/unfamous

kind regards

[2020-10-25 07:48] badijm commented on #378
Hi, can you provide details? If use built-in functionality of **kendoGrid** must be really easy.

E.g.

  ` $("#orders-grid").kendoGrid({
                dataSource: {},
                sortable: true`}) <-----

//rest of the code

[2020-10-25 13:36] badijm commented on #826
@TTomu Is it still realated?

[2020-10-25 13:37] badijm commented on #989
#990

[2020-10-26 06:52] PatrykPorabik commented on #989
Hi @badijm,

It's not so simple, currently, you also removed the published flag from the frontend bestsellers section, so on the homepage, we will see also unpublished products. We've missed it, but we use the same method for generating bestsellers on frontend and backend.

[2020-10-26 06:57] PatrykPorabik commented on #378
Hi, it's not so simple. Every time a query should go to the database, it should return sort information. Unfortunately, it is not enough to just add a parameter to the kendo. I've tried to do it in that way, and it didn't work fine.

[2020-10-26 06:59] PatrykPorabik commented on #991
Thanks for the suggestions, however, can you provide more details on how the favorites should work? And what do you mean by "Some products may be unknown/unfamous"?

[2020-10-26 07:12] TTomu commented on #826
@badijm options are visible, but have you try to use the import from the excel option?
![image](https://user-images.githubusercontent.com/16773048/97143402-ec158800-1762-11eb-8b76-5b6033adcfb0.png)
ACL for staff to manage manufacturers is full.

[2020-10-26 11:06] badijm commented on #989
Okay, I will check source code

[2020-10-26 11:58] talhakaanozkan opened #992 "The "ReturnRequestStatus" language setting is missing."
**Describe the bug**
I think the picture explains the event clearly.
The "ReturnRequestStatus" language setting is missing. "_localizationService" should be added.

**Screenshots**
![image](https://user-images.githubusercontent.com/24568732/97169884-df615600-179b-11eb-92de-cf1b43041c68.png)
![image](https://user-images.githubusercontent.com/24568732/97169714-8d203500-179b-11eb-9801-df5fe933748e.pn

[2020-10-26 12:49] badijm commented on #378
I got ur point. Here's what I found out (I've change a bit `DataSourceRequest` class)

We actually receive target column & direction in controller, when click on column header,  I will simply pass this values it no Mongo somehow.
Didn't figure out how yet.

![image](https://user-images.githubusercontent.com/22330489/97173965-0cad0480-179a-11eb-9f89-90c32ae39af6.png)

Are you Ok with that implement

[2020-10-26 13:43] badijm commented on #826
@TTomu
You are right. Thank for clarifying it.
I was using **admin** account, that's why it worked for me. I think, I've found the right spot in the source code, so it easy to fix.

![image](https://user-images.githubusercontent.com/22330489/97179764-decbbe00-17a1-11eb-8428-14a07e5da3ec.png)

Looks like we need to remove 2nd part of condition.  (`_workContext.CurrentCustomer.IsStaff()`)

@Krzyszto

[2020-10-27 14:11] PatrykPorabik opened #993 "Swagger - API Requests don't work when they have [FromBody] ODataActionParameters parameters"
Swagger - API Requests don't work when they have [FromBody] ODataActionParameters parameters

[2020-10-27 16:16] badijm commented on #982
Can you elaborate? What would be a purpose ?